[2016-10-11 19:14] hackajesse opened #3 "Have uploaded images default to "Display as WYSIWYG" when adding them to text component, body"
The reason is that the "WYSIWYG" option allows a user to add a hyperlink to the image. The default option doesn't allow a user to do that.

Right now, when you add a new image or an image from the library, the "display as" option defaults to "default":
![](https://cloud.githubusercontent.com/assets/7929556/19271217/9c8c8548-8f91-11e6-9ab1-f951d667c925.PNG)

Users should instead have the "display a

[2016-10-11 19:18] hackajesse opened #4 "Character limit title and intro text on posts and events content types"
As a CMS user, I shouldn't be able to make my title or intro copy look bad.

Accordingly, we're going to try a character limit in the CMS to see the reaction and whether people are able to adapt to the new limits.

Status quo:
The title and the intro text both get cut off on the news page. The title and intro text gets cut off on an event only in the upcoming events component.

On staging, it look

[2016-10-11 19:21] hackajesse opened #6 "Create guide author role in Drupal"
Some people will need to create guides in Drupal. However, content author permissions do not include any editing / creating of guides.

This would be a separate role called Guide Author. It would be added to someone's existing Content Author role, so the permissions are specifically related to creating / editing guides.

Permissions to enable:

Guide: Create new content
Guide: Edit own content
Gui

[2016-10-11 19:23] hackajesse opened #7 "Anchor links in list of guides don't go to the anchors on the guide itself"
on boston.gov/guides, there is a list of guides. Each guide has a few bullet points that on click are supposed to go to a specific point on the guide page. However, since anchor tags in the URLs are not named the same as the Short Title in the CMS, those anchor links don't send the user to the proper place on the page.

[2016-10-11 19:37] hackajesse opened #10 "Create a 'no results' result for boston.gov/news or /events"
Currently nothing shows up when you search and get nothing:

https://www.boston.gov/news?title=Lorem+ipsum&field_published_date_value%5Bmin%5D%5Bdate%5D=&field_published_date_value%5Bmax%5D%5Bdate%5D=

@jduffy2001 what should the copy be if you get nothing? "No Results"?

[2016-10-11 19:45] hackajesse opened #11 "Make event URLs more unique for findability."
Events often have similar names - Zoning Board Hearing, City Council Meeting, etc. How can we make these events more findable, both in the CMS for content authors referencing them for related content / tagging purposes and for constituents in the calendar?

Right now, events with duplicate names have -0, -1, etc. appended to their URL.

Can we add the date to the URL to prevent the addition of "-0

[2016-10-11 19:51] hackajesse opened #12 "Related content fields - grooming issue"
I want the fields under "related content" to work so that events tagged properly with people, programs/initiatives, places, and departments will show up on those pages. It currently works if you add the page where you want to add content to the "related content" field under related content.

Thought:
Add a "related events" section on Related Content that creates a component at the bottom of the pa

[2016-10-11 19:55] hackajesse opened #13 "Hide all related content fields."
Hide all related content fields on all content types except the one called "Related Content" until we better define / model what each should do. Ref #12 when done.

![related-content-hiding](https://cloud.githubusercontent.com/assets/3886936/19286276/0d88a1bc-8fcb-11e6-9e94-b0f0617f0e87.png)

[2016-10-11 20:00] hackajesse opened #14 "How-to title and summary expanding past hero on iphone"
Might be related to component refactoring.

https://www.boston.gov/departments/assessing/how-file-residential-exemption

![](https://cloud.githubusercontent.com/assets/20580335/18928080/94f1c49c-858c-11e6-868c-8d8c37fc00cf.PNG)

[2016-10-13 13:37] hackajesse opened #19 "Ensure baseline functionality works without JavaScript on Boston.gov"
Follow [progressive enhancement principles](http://sixrevisions.com/web-development/progressive-enhancement/)
1. Top nav search doesn't work at all
2. Hidden nav menu order should be consistent w/JS enabled menu order (ref image below). Also linking functionality broken on top level hidden menu items e.g. "government"  (>> Mayor's office, city council, etc.) don't work.
3. Grid of Transactions - l

[2016-10-13 17:43] hackajesse opened #20 "Show event date in events that have passed"
Right now, when an event date passes, the date of the event is removed in the top right section of the event. You can [see an example](https://www.boston.gov/calendar/ada-day-2016) here.

Passed event:
![passed-event](https://cloud.githubusercontent.com/assets/3886936/19360042/d784b96c-914a-11e6-9f30-ab9ea837ac76.PNG)

Future event (desired UI):
![future-event](https://cloud.githubusercontent.com/

[2016-10-13 17:47] reillyzlab opened #22 "Script page sidebar - multiple separating lines appear"
On the script page, if a 'contact' field is input AND a sidebar component is added then two separation lines appear (one dashed and one solid). Only the solid line should appear, but might need some development insight on how this is working in order to determine whether it should be dashed or solid line here.

Boston.gov example:
/feedback
![double-line](https://cloud.githubusercontent.com/assets

[2016-10-13 17:47] hackajesse opened #23 "Add event date to Twitter Card Summary"
For event content types, the metadata description populates with [node: date summary of some kind]. Before the [node:summary].

This should use the first available date on repeating events.

This will be a fairly heavy lift to get the first available date for the event and ensure that it will update appropriately.

[2016-10-13 17:57] hackajesse opened #24 "See all places / nodes with a specific "feature""
Each BYCF has a set of "features" (see screenshot from [this page](https://www.boston.gov/community-centers/bcyf-blackstone)). Those features should be clickable and show all places / nodes with the clicked feature.

Possibly add this the way someone can filter places in the BYCF search bar. Where does this search live ultimately?

![screen shot 2016-10-13 at 1 55 13 pm](https://cloud.githubuserco

[2016-10-13 18:01] reillyzlab opened #25 "Flag on upcoming events broken"
Flag on upcoming event featured item on iPhone 6 broken and overlaps title text of event.

Boston.gov:
![img_5219](https://cloud.githubusercontent.com/assets/20731897/19360688/7dd5e582-914d-11e6-80f9-dc4c287f8647.jpg)

Hub:
![f124c4fc-7f3e-11e6-8aab-5d5e155bb651](https://cloud.githubusercontent.com/assets/20731897/19360694/82b9c14a-914d-11e6-8151-ff719a52ed4a.png)

[2016-10-13 18:01] hackajesse opened #26 "Define the different types of event lists for the events component"
An Events Component with the following list will do:
None - displays a single event
Related Events - displays all events tagged in the related content field with the same page where the component lives.
Upcoming Events - displays all events.

Questions:
Are the above accurate?
Do all related events show up in Upcoming Events? Or just events that are not tagged?

@matthewcrist could be a good thing

[2016-10-13 18:06] hackajesse opened #27 "The home nav option on mobile should be up at the top."
Deciding whether to keep or ditch still. http://www.webdesignerdepot.com/2015/08/the-ux-case-against-the-home-button/

![mobile-nav](https://cloud.githubusercontent.com/assets/3886936/19360849/39880792-914e-11e6-98d4-91875341069d.PNG)

[2016-10-13 18:09] hackajesse opened #29 "Create shorter links for job postings in the career center"
It'd be great to have some kind of short-linking built into these pages, in addition to the newfeed sharing options:

https://city-boston.icims.com/jobs/11158/data-engineering-manager-%28prin-data-proc-systems-analyst%29/job?hub=8

The long title's pretty cumbersome for sharing, obviously. Since each posting has a 5-digit numeric ID, maybe something simple like "jobs.boston.gov/11158" would work?

[2016-10-13 18:13] reillyzlab opened #30 "Admin portal: Titles of component should always display if available"
If a title is entered in a component, this title sometimes appears below 'component type' when the component is closed. However, at other times the title does not appear when the component is closed.

The title should appear for components that have a title listed.

![title example](https://cloud.githubusercontent.com/assets/20731897/18678364/c861b562-7f29-11e6-99f7-638a3e9ed67d.PNG)

Components w

[2016-10-13 18:18] hackajesse opened #31 "Make list of components always alphabetical in the CMS"
Every content type in the CMS with components has a dropdown list to choose from. That list is not in alphabetical order. It should be.

@matthewcrist I'm pretty sure I can change this myself. Path?

[2016-10-13 18:23] reillyzlab opened #32 "Departments would like the ability to communicate to their departmental employees on Hub"
Various departmental leadership has expressed interest in having the ability to communicate with their employees via the Hub.

Potentially through posts that employees get directed to each week and/or through posts that kick out automatic emails to employees with weekly news.

Example: DND weekly newsletter

[2016-10-13 18:26] hackajesse opened #33 "Be able to change background color on components"
And have all other styles in that component adjust accordingly when background color is changed.

@sebastianebarb:
- What should the color / style combos be for each background color option?
- Which components can be which colors. Should every component be able to have any theme?

Also, the sooner the better on getting this issue ready, so @matthewcrist can work it in with the other component chan

[2016-10-13 18:29] reillyzlab opened #34 "Ability to print Web pages"
As a user, I want to view any page on the website and print it out in a printer-friendly format. Usually shows up as a button to click to print.

@matthewcrist prefers to create a printer friendly style sheet, which needs to be done anyway. Instead of a button on pages, Matt thinks we should add a link in the accessibility toolbar on how to print.

More discussion needed on how this will happen an

[2016-10-13 18:31] hackajesse opened #35 "Be able to see "related" or "more" posts at the bottom of a post."
@sebastianebarb I'd like to have these comps queued up before the end of November. Happy to discuss beforehand and include @jduffy2001.

From a constituent: "I mean like, "Next up: Mayor Walsh Pets Kittens at the Angel MSPCA". I'd click the hell out of that."

Comments:
@sebastianebarb What should this look like? Happy to chat, but this one will need a comp for desktop, tablet, and mobile.

@hacka

[2016-10-13 18:34] hackajesse opened #36 "Anchor tags issue - grooming"
The anchor tag option is a bit wonky in the WYSIWYG. Right now, you have to anchor something a paragraph before to compensate for the nav bar, but it still looks wrong on mobile.

I want the anchor tags to work the same way as the secondary navigation on components.

Reported by @jduffy2001 originally, but needs fleshing out and screenshots of the issue.

[2016-10-13 18:38] hackajesse opened #37 "Application: No-Tow (Sweeping, Occupancy, Towing)"
Includes

Sweeping
Occupancy
Unrelated, but connected to the same systems is

Towing
![no-tow-structure](https://cloud.githubusercontent.com/assets/3886936/19361927/8b7ba172-9152-11e6-8c25-ab4e31004b0b.png)

[2016-10-13 18:38] hackajesse opened #38 "Application: Assessing Online"
## Application Overview

Fran sends Satyen an export twice a year of assessments data based on the FY quarter system.

Assessing has multiple systems for their assessing data, but right now they are migrating to a newer system - and off the old COBOL frame. The last export Satyen received from Fran was from the old system, but in Jan they are switching to the new one. The export might be a differe

[2016-10-13 18:39] hackajesse opened #39 "Application: Workers Compensation Administration Panel"
This is the backend for the workers comp form #40.

control panel: https://www.cityofboston.gov/workerscomp/claiminquiry/login.aspx
inquiry info list: https://www.cityofboston.gov/workerscomp/claiminquiry/inquiryinfo.aspx
## Background

The claims submitted through the workers comp form can then be seen and managed on a secured website.  From this area an employee can see a queue of inquiries and

[2016-10-13 18:41] hackajesse opened #40 "Application: Workers Compensation Form"
Admin panel for this form is #39.

https://www.cityofboston.gov/workerscomp/claiminquiry/
## Background

On the workers compensation page, we have this Claim Inquiry form: a web form where vendors can submit an inquiry seeking information on workers’ compensation claims.
## Integrations

Data Source=VSQL01
Initial Catalog=workerscomp
## Notes

There is an initial questionnaire. When the user submi

[2016-10-13 18:44] hackajesse opened #41 "Application: Wicked Cool Tree"
http://www.cityofboston.gov/wickedcooltree/

Managed by New Urban Mechanics. Probably should ask what kind of presence they can have/want on the new site.

[2016-10-13 19:54] reillyzlab opened #42 "'My profile': Add each profile item (iFrame) and ability to in line edit"
Add in each 'my profile' item as iFrame from self service.

Styling should match comp. on file.

Then, provide in-line editing for each of these items.

[2016-10-14 18:36] hackajesse opened #48 "Change an event to a canceled event via the CMS"
Reference #49 for what happens on Boston.gov
Set cancellation reason character limit to whatever the character limit is for the intro text section (adding this because character limits on that section may or may not change in the near term.

![canceled-event-cms](https://cloud.githubusercontent.com/assets/3886936/19398515/fef5ab16-921a-11e6-9f68-d153ef25eb8f.PNG)

[2016-10-14 18:36] hackajesse opened #49 "Clearly canceled events show on Boston.gov"
When a CMS user cancels an event, this describes what happens on Boston.gov. Reference #48

On the list of events on /events:
- Add "Canceled: " in the same event title font, but colored freedom trail red _before_ the event title. No strikethru on this part of the event title.
- Change existing event title to charles river blue and use strikethru
  - On click, event title, including Canceled:, tur

[2016-10-14 19:14] hackajesse opened #50 "Live streamed events have extra alert on Boston.gov event list"
In the CMS, add a checkbox in the Video component that indicates an event will be live streamed. "This event will be streamed live."

On /events:
- Add play-with-circle icon (keep it same color as event title) immediately before the event title vertically aligned with the text. _This should happen for all events with a video component._ Exclude the word "Live".
- For live streamed events, keep the

[2016-10-17 18:28] hackajesse opened #56 "Guide to suggesting your own guide - grooming"
Create a guide for “suggesting a guide”. Whether it’s hosted by Google or you’re embedding a natively-designed form, open the doors to the public for guide suggestions.

[2016-10-18 16:36] hackajesse opened #57 "Content Request: show list or map of all events happening that required a permit"
**From feedback:** For any and all events requiring/needing a permit, could you please include those events in your calendar and indicate at which locations they are permitted to be held?  If a resident lives on the Boston Common, in the North End, near Franklin Park, near the Esplanade, etc., it would be incredibly helpful to know what's going to be happening outside our front doors.  At present,

[2016-10-19 17:16] hackajesse opened #58 "Application: 3D Member Discount Program"
The application: www.cityofboston.gov/3D/members/apply.asp
## Background

This form currently redirects to the DND 3D initiative page.
It’s the first time I’m seeing it so I’m not sure what the background is.
## Integrations
- VSQL01 - Mayors24 - DND_3DMembers table
- Lyris - 3D members mailing segment
## Notes

Adds the form information to the Mayors24 database and sends an email with the form fi

[2016-10-19 17:19] hackajesse opened #59 "Add auto-save to Drupal"
https://www.drupal.org/project/autosave

This would work for saving a content type, but wouldn't work for adding components since those are AJAX forms and this module doesn't support. We'd need to have the autosave be consistent across all save to be useful.

Is there another module that would work for that purpose?

[2016-10-19 17:21] hackajesse opened #60 "Add images / icons / emojis to copy on the website"
URL: https://www.boston.gov/departments/parking-clerk/how-pay-parking-ticket
BROWSER: Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.103 Safari/537.36

Love the new site. Easy to read and navigate. Love the large text and fewer words. Vast improvement. One suggestion is to add more graphics next to the text. For example, when you write OVER THE PHO

[2016-10-19 17:23] hackajesse opened #61 "Surface 'events on the plaza' on Hub, via the e-ink screen and boston.gov all from one source"
Be able to surface 'events on the plaza on the Hub, via the e-ink screen and on boston.gov from one source.

Potentially have these items sync altogether.

Potentially have 'events on the plaza' component on Hub

[2016-10-19 17:26] hackajesse opened #62 "Search Autocomplete in CMS"
Story:
As an authenticated user in the CMS, I want the ability to have my search term Auto Complete for the full site search so that the system can help me select my search terms.

Could use the same LinkIt option as we do for Related Content and Contact fields.

Acceptance criteria:
- While typing a search term the system should show suggestions base on items already indexed.
- Update architectur

[2016-10-19 17:29] hackajesse opened #63 "Switch from DigitalGov search to Apache Solr"
Here's some info that might help give background:

Document created by Acquia for City when choosing external site search: https://drive.google.com/open?id=1Ul25dVM1AYFYgA-XRD1oGCHKWBLdBJXJyVbW5OY1Ds4

Acquia docs on their solr set up: https://docs.acquia.com/acquia-search

Christina, Acquia TAM, also knows quite a bit and could probably be a good resource for this one.

When we switch, we need to

[2016-10-19 17:31] hackajesse opened #64 "Explore 4 tab limitation on tabbed and how to pages"
Acceptance criteria:

When creating/editing a tabbed content page, up to 4 tabs are available in the edit interface.
If a tab is left unfilled, it will not display on the tabbed content page.
As a stakeholder I want the tabbed content page to be AA compliant using the checker in SPY-525.
Implementation details: \* When creating/editing a tabbed content page, up to 4 tabs are available in the edit

[2016-10-19 17:33] hackajesse opened #65 "Elected Officials Directory Page"
Story:
As a site admin I want the ability to create an Elected Officials directory so that the public can see who their elected officials are.

Acceptance criteria:
As a site administrator I want to be able to add a list of people to a listing page.
As a site administrator I want to be able to select what type of people are displayed on this listing page.

Implementation details:
- Create a list o

[2016-10-19 17:35] hackajesse opened #66 "Updated Featured Guides Component"
Story: As an anonymous user I want the featured topics component to be visually appealing on any device I might be using.
As a stakeholder I want the featured topics component to match the IDEO designs so that the look and feel of the site stays consistent.

@sebastianebarb can you attach relevant comps for featured guides from IDEO?

[2016-10-19 17:37] reillyzlab opened #67 "Hub profile enhancements - info"
Hub 'my profile' should be enhanced over time. Ideally, personal information would appear (but not be stored in Drupal) with an in line 'edit' option that would open a model of ESS software.

[2016-10-19 17:39] hackajesse opened #69 "Newsletter subscription component"
Story: As a content author, I want to be able to add a newsletter subscription component to a page.

This may or may not be a component. It may be a checkbox within certain types of components that simply shows an additional UI.

Acceptance Criteria:
- As a content editor, I can add a newsletter subscription component to any page that allows components.
- As a site user, I can view newsletter subs

[2016-10-19 17:41] hackajesse opened #70 "Was this Helpful Functionality"
Story: As an anonymous user I want the ability to provide feedback on if a page was useful to me or not so that the city can better understand how I use their content.

Acceptance Criteria:
- As an anonymous user I want the ability to provide feedback to the city on a post if it was or was not useful to me.
- As an anonymous user I want the ability to provide feedback to the city on an article if

[2016-10-19 17:42] reillyzlab opened #71 "Hub profile enhancements - social media"
Allow users to add/edit their social media usernames to be viewable by other employees.

[2016-10-19 17:51] reillyzlab opened #72 "Hub profile enhancements - social media"
Allow users to add/edit their social media usernames to be viewable by other employees.

[2016-10-19 17:51] hackajesse opened #73 "Map Component"
Story:

As a content editor I want to be able to add a map component to a page when I need to provide geographical information to a user.
Map Component - Styling
Story:

As an anonymous user I want to be able to see where an event is happening or a place is located when viewing content about the page.
As an anonymous user I want to be able to view a map related to the content I am looking at on an

[2016-10-19 17:56] reillyzlab opened #74 "Portion of open accessibility toolbar shows on mobile/tablet when logged in as site contributor"
If a user has any site contributor role and they are logged in on Hub or Boston.gov and the accessibility bar is in use then a portion of the open accessibility bar shows up without clicking on the accessibility wheel/opening the accessibility toolbar.

Happens because editing workbench/admin view isn't configured for tablet/mobile, so the editing toolbar pushes the accessibility toolbar down the

[2016-10-19 17:57] hackajesse opened #75 "Follow Feedback form"
Story: As an anonymous user I want to be able to provide feedback on the usefulness of the "Follow" functionality on the Topics pages.

Story: As an anonymous user I want to be able to provide feedback to the City of Boston on the follow button in a format that is visually appealing and works on any device I visit the site with.

Acceptance Criteria:
- Navigate to the boston.gov website
- Navigate

[2016-10-19 17:59] hackajesse opened #76 "See related posts by department / author"
Story: \* As an anonymous user I want to see other posts by this department / author so I might be able to find content that is related to the topic I am looking for.

@jduffy2001 this one is possibly a filter or a button beneath a specific post. Is it useful to see more posts by a department after reading one? Is it useful to see related articles? What's the appropriate content to offer people af

[2016-10-19 18:05] hackajesse opened #78 "Automate Events/Posts related to a Program"
Story: As a content editor I want the ability to configure my program/initiative to automatically pull in events or news posts that are related.

Implementation details:
- Allow Events/News Posts to be tagged with a program.
- Create a block view to pull in Events tagged with a program.
- Create a block view to pull in News Posts tagged with a program.
- TBD on if this is preconfigured block or a

[2016-10-19 18:06] reillyzlab opened #79 "Grid of Photos Component"
Provide the ability to provide an image feed and/or string of photos on a page so that additional visual elements to attract the user can be provided. Potentially incorporate social media feeds into this as well.
- As a user, I potentially want to see imagery related to content to help me better understand what I am reading.

Additional questions that should be answered:
- What's the data feed for

[2016-10-19 18:07] reillyzlab opened #80 "Enhance Hub Search Via Biasing"
Enhance Hub search via biasing.

First, need to manually bias items and item categories.

Then, need to enhance search code around biasing.

[2016-10-19 18:07] hackajesse opened #81 "Contact Form"
As an anonymous user I want to be able to contact the city of boston so that I can communicate with the city through the website.
- Enable webforms module
- Configure contact us form
- Add contact us link to footer (migration)
- Export to features
- Write behat tests

As an anonymous user I want the contact form to be usable on any device I might be using.
As a stakeholder I want the contact form

[2016-10-19 18:09] reillyzlab opened #82 "Enhance Hub Search Via Biasing"
Enhance Hub search via biasing.

First, need to manually bias items and item categories.

Then, need to enhance search code around biasing.

[2016-10-19 18:10] hackajesse opened #83 "Update Travis CI to verify all field instances have help text"
Story: As a content editor I want all fields to require help text so that I can understand what they do.
Acceptance Criteria: \* As a content editor I want all fields to require help text so that I can understand what they do.
Implementation details: Update TravisCI to fail the build if a field is added with no help text.

Update all field instances to add help text provided in the content model s

[2016-10-19 18:14] reillyzlab opened #85 "In Memoriam Component"
Create a component which will allow a visually appealing 'In Memoriam...' message.

As a site visitor, be able to view the following information to the In Memoriam component:
*\* Title *\* Short Title *\* Name *\* Description *\* More Information Link

As a content author+ I want the ability to add the In Memoriam component to any page that has a components field.

[0500_TheCity_InMemoriamMobile.p

[2016-10-19 18:22] hackajesse opened #86 "Add PDF title to uploads via LinkIt"
When uploading a PDF via the LinkIt tool, there is no option to add a Title tag to the PDF to make it easily searchable within the CMS.

That said, does the CMS search files and display their title name or does it simply display the file name? Test with images to see since those are done in the media browser and have an associated title tag.

[2016-10-19 18:23] reillyzlab opened #87 "Grid of People Component Incorporating User Profiles"
Build a component similar to grid of people grid (same styling) but building so that it runs on 'user profiles' rather than 'person profiles'.

Definitely for Hub, but could be beneficial for Boston.gov

Main use case for this is to pull staff (or at least senior staff) with photos onto dept. profile pages.

[2016-10-19 18:24] hackajesse opened #88 "Make moderation notes required"
Remove the default information that something was edited by 123456 and make it embedded somewhere else.

"What did you do to this page?"
- what are the copy needs?
- what needs to stay / become ineditable / be appended / be hidden?

![moderation notes](https://cloud.githubusercontent.com/assets/3886936/18848803/0e36ce82-83fe-11e6-92b9-b235a4b6bdf5.PNG)

[2016-10-19 18:28] reillyzlab opened #89 "Make 'User Action Component' Display User-Specific Choices"

[2016-10-19 18:30] reillyzlab opened #90 "Common transactions line height/spacing"
1) Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.106 Safari/537.36

URL submitted from: https://www.boston.gov/

line-height and spacing issues in the common transactions section. I'd suggest making the icons on the left a static width (not the icons themselves but the div space it takes up) so the text to the right is aligned all

[2016-10-19 18:32] reillyzlab opened #91 "Hub menu breaking on IE 11"
User attempting to access Hub on IE 11.0.9600.18326

Menu is breaking the following way:

Tried having him clear cache and didn't fix.

![a6ee47be-84a2-11e6-9b4e-27995b07d3da](https://cloud.githubusercontent.com/assets/20731897/19532233/d751cf76-9608-11e6-8be8-8c0140183a58.png)

[2016-10-19 18:47] hackajesse opened #92 "Get the Advanced Poll to work"
Needs grooming

[2016-10-19 18:51] hackajesse opened #93 "Able to change standard department contact info in sidebar to non-standard"
Summary of the issue:
Departments have standardized contact information. Sometimes, that information needs to be different than the standard, e.g. for EMS. This happens on article pages, but also how-tos (ref: /movingtrucks where the contact is now removed since both Public Works and Transportation handle inquiries).

Background from old repo:

For several forms I am building on a script page, the

[2016-10-19 19:04] hackajesse opened #94 "Downloads on events still create links even when nothing is attached"
On any event, a content author can add a downloadable piece of information. However, if they add a title, like "View filed agenda", but don't upload a file to be hosted on Drupal, the event's published 'Downloads' section creates a hyperlink to nowhere.

As an event creator, I shouldn't be able to add a download, internal, or external link without a file upload or hyperlink added to the CMS, even

[2016-10-21 00:55] hackajesse opened #99 "Ability for users to share City news pages on social media"
As a visitor to a Boston.gov post? any page? event?, I want to share that page on Twitter, Facebook, or via email to tell my followers or friends about it.

@sebastianebarb would you attach any comps IDEO did for this?

Comment 1:
URL: https://www.boston.gov/news/boston-pursuing-25-mph-speed-limit
BROWSER: Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.116 Saf

[2016-10-21 00:58] hackajesse opened #100 "Census site only allows one person at a time for an address"
Feedback:
_"went to fill out census information on line only allows 1 person to register per address !!!!
You have got to be kidding !! please hire someone who knows what they are doing ! Didn't anyone actually test this thing !

How important is this! Federal and state dollars are allocated by population by this snafu you probably eliminated 10% of the population."_

Constituent is referring to t

[2016-10-21 01:08] hackajesse opened #101 "What to do with the Boards and Commissions content"
We need to migrate this section of the site, but I'm not sure of the best spot for it:

http://www.cityofboston.gov/boardsandcommissions/Default.aspx

It makes sense to put the information on department pages where they are related, but should there be a separate page that includes all of the information?

[2016-10-21 01:10] hackajesse opened #102 "What to do with the bids content on the procurement site"
We need to move over the content here:

http://www.cityofboston.gov/purchasing/bid.asp

For right now, it makes sense to create a page with drawers for each bid or event. The current max for bids is 22 - 25 on the page. Suggestions for an ideal state:

We create a new type of content called "bids" and a new listing for a listing page called "bids - listing."
The list page would pull these "bids",

[2016-10-21 01:13] hackajesse opened #103 "Procurement, Design and Construction, and Vending Pages for Parks"
Parks want a new landing page for their Procurement information, their Vending program which is new as of the launch, and a template to start creating pages for Projects.

See the notes and layout document in the Parks content folder: https://drive.google.com/drive/folders/0B6JFuKRlk0wBOTJMakktTTlUd2s

@jduffy2001 address this when you work on Parks in November, not before.

[2016-10-21 01:24] hackajesse opened #104 "How-To tabs need upgrading"
- People have difficulty knowing whether they switched between them and whether the page reloaded
- People on mobile think the selected tab is actually unselected due to the tab / box being blacked out in reverse of what people think.

[2016-10-21 01:34] hackajesse opened #105 "Leading / line hight is off on titles and text for landing page"
Leading/ line hight is off on titles and text for landing page, across the board

![screenshot 2016-07-13 17 04 48](https://cloud.githubusercontent.com/assets/20642299/17137476/5455e31a-5309-11e6-832f-0e55f7fd6c50.png)

@sebastianebarb  need some clarification on this.

Could you specify the heights?
- height between the two lines of the title?
- height between the title and the neighborhood?

In

[2016-10-26 17:31] jduffy2001 opened #117 "Upcoming events component showing featured event in list below"
Before, when I placed a "featured" event in the upcoming events component, it wouldn't then show up in the list below.

This seems to have reverted back, so that when you put a "featured" event up top, it still appears in the list below. You can see an example of this on the [Transportation page](https://www.boston.gov/departments/transportation).

[2016-10-26 19:20] matthewcrist opened #119 "Create a new content type for public notices"

[2016-10-26 19:21] matthewcrist opened #120 "Create view for future public notices"

[2016-10-26 19:21] matthewcrist opened #121 "Create view for past public notices"

[2016-10-26 19:23] matthewcrist opened #122 "Create and style page for future public notices"

[2016-10-26 19:23] matthewcrist opened #123 "Create and style page for past public notices"

[2016-10-26 19:23] matthewcrist opened #124 "Build and style filtering for public notice pages"

[2016-10-26 19:23] matthewcrist opened #125 "Build single view of public notice page"

[2016-10-26 19:24] matthewcrist opened #126 "Public notice listing should update when a new update is posted"

[2016-10-26 19:25] matthewcrist opened #127 "Create a feed of public notices"

[2016-10-26 19:25] matthewcrist opened #128 "Public Notice Content Type"
For the creation of public notices to meet the open meeting law requirements, we need to create a new content type. This content type will need fields specific to public notices. It will also need to provide a public feed that can be consumed by other applications (signage primarily).

Here is a doc with the requirements:

https://docs.google.com/a/boston.gov/document/d/1R8oYwwqDnR_0oqutVRPARhgYR-

[2016-10-26 19:36] hackajesse opened #129 "City seal doesn't align with top nav"
As you scroll down any page on Boston.gov, the City seal in the center of the top nav slides up. The bottom of that image doesn't align with the top nav.

http://whatsmybrowser.org/b/C1LW3WD

![seal-reduce](https://cloud.githubusercontent.com/assets/3886936/19742235/11353f6e-9b92-11e6-8115-039ef32f79a2.PNG)

[2016-10-27 01:54] hackajesse opened #132 "What should we do about our interaction design and information architecture?"
We know that people don't think about their interaction with the City as "which department should I talk to first about my problem". Instead, they think "I have to pay my parking ticket. How do I do that?"

At the moment, the website information architecture and interaction design are oriented around departments. However, unless you're looking to work for that department, that doesn't help most pe

[2016-10-27 01:54] hackajesse opened #133 "How should the public be able to reserve rooms on City property?"
The Bruce Bolling Building in Roxbury, City Hall, Faneuil Hall, 1010 Mass Ave. - these are all City-owned buildings, but we don't have a good way of reserving available rooms in them. For that matter, we don't have a good way of seeing whether they're even available to be reserved.

Research which solution we should use to help us with reserving space properly.

[2016-10-27 01:55] hackajesse opened #134 "Is there a good open source solution for an online catalogue / store?"
We have an AMAZING set of old artifacts in Boston. Tons! So many, in fact, that our resident archeologist (yes, we have one and he's seriously awesome) would like to create an online catalogue of them to show them to the world!

Turns out that our Arts and Culture department also has a bunch of stellar artwork for lease or exhibition use. But you wouldn't know about it unless you could find it onl

[2016-10-27 01:57] hackajesse opened #135 "Questions we have at Boston.gov"
This epic is a list of questions we have at Boston.gov that we would like to answer.

Sometimes the answer might take a lot of research. Other times it might be something you know intuitively. In either case, we would like your help.

We will continually add more questions to this epic and remove questions (in the form of issues) as we answer them.

Thanks for taking the time to check out what we'

[2016-10-27 02:00] hackajesse opened #136 "Set up Boston.gov's github repo as a Docker project"
For someone without Drupal on their computer, it can take 5 hours to set up their development environment before they're able to constructively contribute to the Boston.gov codebase.

We should change that. Use the code at our Github repository to make it easy for folks to develop with us.

[2016-10-27 02:01] hackajesse opened #137 "Set up a sample database for Boston.gov"
We obviously can't have our production database available for folks to use. But it would be great for people to have a sample database to use to populate content in their development environment when developing against Boston.gov.

How?
Create fixtures - representations of the database in the code that can get applied programmatically when people set up their development environment.

[2016-10-27 02:01] hackajesse opened #138 "Create a test page on Boston.gov showcasing every component"
Boston.gov has a lot of components and a lot of variations of those components. That makes them hard to check to see if we messed something up in their user interface.

We'd like to change that. There are likely two options for remedying this situation. For both of these, it would be great to have a program to check the UI against a set of tests or standards we pre-set:
1. Manually create a page w

[2016-10-27 02:02] hackajesse opened #139 "Create Drupal distro for Boston.gov"
This is a MAJOR one. In fact, it might be so major it's not actually worth it. Lots of municipalities are moving to Drupal 8 at this point, so don't start down this path without getting in touch with us first.

[2016-10-27 02:03] hackajesse opened #140 "Make Boston.gov more open source friendly"
We've opened the source code for Boston.gov and added some good documentation, but it's still time consuming to actually contribute to the code base.

You have to set up your development environment, you should probably have a sample database to work with, and you might not really know what the components look like with actual content in them.

This epic is about making Boston.gov easier to develo

[2016-10-27 14:07] hackajesse opened #141 "Create a maps component"
Maps. We love them, but we're not scheduled to build them for a little while (as of end of October 2016) because we need to improve the site navigation, build a new 311 interface, and create an interactive budget page, among other projects.

Are you game to help us?

Some things to know:
- Components on the site are modifications to [Drupal paragraphs](https://www.drupal.org/project/paragraphs).
-

[2016-10-27 18:32] reillyzlab opened #143 "Create landing page author role in Drupal"
Some people [particularly on Hub] will need to edit landing pages in Drupal. However, content author permissions do not include any editing/creating of this page type.

This would be a separate role called Landing Page Author. It would be added to someone's existing Content Author role, so the permissions are specifically related to editing/creating landing pages.

Permissions to enable:

Landing

[2016-10-27 19:21] reillyzlab opened #144 "Getting more done in GitHub with ZenHub"
Hola! @reillyzlab has created a [ZenHub](http://www.zenhub.com) account for the **CityOfBoston** organization. ZenHub is the only project management tool integrated natively in GitHub – created specifically for fast-moving, software-driven teams.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.com?utm_source=Z

[2016-10-28 13:15] scuerda commented on #134
Given that you're a Drupal shop I'd imagine you're looking for a PHP implementation to minimize required developer skills, but if you're open to Python implementations something like [Saleor](http://getsaleor.com/l) or maybe [Oscar](https://github.com/django-oscar) could serve your needs.

Saleor looks to be more of a all-in-one solution, with a fairly developed admin backend and a built-in fronte

[2016-10-28 13:27] scuerda commented on #140
I've seen this topic split up across a few issues ( #139, #137, #136 ). It also looks like you are deploying via Acquia Cloud?

Given that, I wonder if an Ansible-based playbook that uses [Drupal VM](https://www.drupalvm.com/) might not be a better way to set up both a development environment for contributors and a framework for enabling other municipalities to fork and deploy their own versions t

[2016-10-28 13:34] hackajesse commented on #140
Thanks for the constructive thoughts, @scuerda. We are on Acquia Cloud, yes. The goal is really to help people get more engaged w/the repo faster.

I'd ask @matthewcrist, our lead dev, to weigh in on what you wrote.

Are you interested in helping us out on this, assuming Drupal VM?

[2016-10-28 14:02] scuerda commented on #140
@hackajesse possibly. TBH I haven't worked much with Drupal which is partially what drew me to looking at these issues.

FWIW, it might be worth teasing out two lines of devops improvements. One for folks who want to fork and deploy and one for folks who want to contribute to the core repo. Probably a lot of overlap, but the Drupal VM seems more relevant for the fork-and-deploy crowd.

[2016-10-28 14:44] hackajesse commented on #140
@scuerda all good.

If you have suggestions for how to tease out those two lines, I'm all eyes. :) At the moment, we're prob targeting the contributors more than the fork-and-deploy crowd, but it's important to offer options.

[2016-10-28 15:47] hackajesse commented on #50
@matthewcrist what questions do you have?

[2016-10-28 17:04] dshaw4 commented on #132
I suggest the easiest approach is to develop a network diagram or content map in the form of an ontology. This can then be programmatically transformed into flat metadata. The metadata model can be instantiated in Drupal with appropriate information types. Then, pages can be assembled automatically using "build list" template rules acting on the metadata.

If you do this, you don't have to worry a

[2016-10-28 19:16] reillyzlab commented on #144
Zenhub automatically opened the ticket - closing

[2016-10-28 19:16] #144 closed

[2016-10-28 19:38] hlieberman commented on #128
@matthewcrist, the Google document linked appears to have sharing restrictions on it.  Can you make it viewable by those who have the URL?

[2016-10-28 19:39] reillyzlab opened #150 "How to: Hide tab if only one tab is used"
On how to page type, if only one tab is used, then the tab should be hidden. If two or more tabs are used, then the how to page should act as is current built.

This will mostly likely mean that the line height will also need to adjusted to fill the space where the tabs would normally appear.

Description text should be added to this page: /node/add/how-to to explain this functionality
![how to de

[2016-10-28 19:45] reillyzlab opened #151 "How to: Change title of field"
On how to, under 'basic information', change the 'body' field to be 'intro text' to match the other page types throughout the sites;

![body to intro text](https://cloud.githubusercontent.com/assets/20731897/19820070/953af922-9d25-11e6-8e54-f2d683ba7ae0.PNG)

This should enhance a content contributors ability to understand where they should be entering relevant content.

[2016-10-28 19:46] hlieberman commented on #129
Is the problem here that you are looking for the bottom seal to end up flush with the bottom of the top nav?

The top bar isn't large enough by my check -- nevertheless that the seal is measured in px, and the bar is measured in rem.

[2016-10-28 19:59] geerlingguy commented on #140
If you want to go the Drupal VM route and run into any issues at all, please feel free to post issues in the drupal-vm issue queue. It was made for drop-in use cases like this, and you can either have it installed via composer as a dependency, or download it, stick it in a 'box' or 'vm' directory, and include it with the code base. See Acquia's BLT project elsewhere on GitHub for an example.

If y

[2016-10-28 19:59] asalsman commented on #50
- Is there an example of an event page with a video on it right now? I want to make sure when I'm recreating a video in dev, I'm doing it right.
- Placement of "Watch it Live" flag on mobile/tablet?
- Any indications on the individual event pages or just the calendar front?
- Will we know the URL of the video before hand?
- Do we only show the flag of "watch it live" when it's actually live? If no

[2016-10-28 20:12] hackajesse commented on #129
Thanks, Harlan. You got it - looking for the seal to line up flush w/the
bottom of the top nav.

Recognized that my browser was zoomed to 90%, which is why it showed up.
That said, we're finishing up a new version of the seal, which will be in
rem, not px. :)

Feel free to file your own issues as you see them, too!

[image: COB_B_Blue_square-01.png]

Jesse Biroscak

Product Manager, Boston.gov

De

[2016-10-28 20:15] #129 closed

[2016-10-28 21:14] hackajesse commented on #50
Progressive enhancement upgrade:

If a user doesn't have JS enabled, the YouTube video doesn't work anyways, so...

- Keep the "Event details" button as-is on /events detail dropdown
- In the page w/the video component, rework the video component to say "Thanks for your interest! You will need to enable JavaScript on your browser if you want to watch the video."

If a user has JS enabled:

- use t

[2016-10-29 05:28] yuningalexliu opened #153 "Text Overflow in "Common Resources" on Front Page"
I immediately noticed this with my Chrome browser running at 75% full-screen on my 13-inch Macbook Pro.

Perhaps make the Resource divs have a relative vertical height based on the longest text element?

Thanks - great work!

<img width="1028" alt="screen shot 2016-10-29 at 1 25 20 am" src="https://cloud.githubusercontent.com/assets/2261842/19827410/04f71394-9d77-11e6-9802-a3db335b3086.png">

[2016-10-29 14:21] scottaohara opened #155 "Menu "button" isn't keyboard accessible"
## Details:

The primary menu button is not actually a button and does not accept the expected keyboard functionality (space bar or enter) to activate it, rendering the menu visually inaccessible to keyboard users.

URL: [All of boston.gov](http://boston.gov)
## Steps to reproduce:
1. Use any browser and attempt to tab to the menu button
2. When focused (if browser will allow, Safari 9.1 won't) at

[2016-10-29 18:10] sgregson opened #156 "Update composer.json phantomjs-installer dependency"
`composer update` fails due to bitbucket cdn issue - since `composer.json`'s phantomjs-installer is pinned to v1.9.8 including bitbucket issues which have since been resolved upstream (jakoch/phantomjs-installer#34). Moving phantomjs-installer `v1.9.8` => `v2.1.1-p07` permits ENV setup to pull a mirror to work around OAuth issues - I doubt there are breaking changes in the PhantomJS Installer.

Up

[2016-10-31 13:01] asalsman commented on #25
Can you link me an example? I did some digging, but a) am still figuring out the content on the sites and b) couldn't find a page like this.

[2016-10-31 13:12] matthewcrist commented on #155
This is great @scottaohara. Thanks for taking the time to go into detail. We're in the process of looking at alternatives to the hamburger nav overall, but we'll work on implementing one of these solutions in the next couple of weeks.

[2016-10-31 13:12] matthewcrist commented on #153
Thanks @yuningalexliu. We have a release scheduled for this week that will resolve this.

[2016-10-31 13:14] yuningalexliu commented on #153
Awesome!

On Mon, Oct 31, 2016 at 9:12 AM, Matthew Crist <notifications@github.com>
wrote:

--

Alex Liu

*Product Manager*

aliu@cipherhealth.com | 585.662.9096

CipherHealth <http://www.cipherhealth.com/> | 555 8th Avenue, Suite 701,
New York, NY
*The information contained in this email message is intended only for the
use of the individual or the entity named above. If the reader of this
messag

[2016-10-31 16:40] hackajesse commented on #88
@jduffy2001 would you write what you'd like to have editable / ineditable by folks for your moderation needs?

[2016-10-31 16:59] hackajesse commented on #50
Note that this applies both to event content types AND public notice content types as those continue to be created.

[2016-10-31 19:21] hackajesse opened #160 "Make End Date in date picker start closer to today's date"
On /events and /news, the end date date picker starts ~7 months after today's date. Make it start 2 weeks after today's date.

![date-picker-events](https://cloud.githubusercontent.com/assets/3886936/19868232/8b9317c4-9f7d-11e6-9b5d-90302b46b461.PNG)

[2016-10-31 19:30] hackajesse opened #161 "Repeating Events features"
Events can repeat on Boston.gov, but the experience isn't good for either the event creator or the event posting viewer. Repeating events should be intuitive to both create and understand.

[Initial user stories and acceptance criteria. ](https://docs.google.com/document/d/1HliqgW85EYMtNV1YCDBMZXD2xTqVQ1sUk7PQUqDZ4uU/edit?usp=sharing)

@asalsman would you flesh out some of the tech requirements, a

[2016-10-31 20:04] hackajesse opened #162 "Don't open a new tab when someone clicks a link"
Task:
Find all target="_blank" and remove.

@matthewcrist @jduffy2001 @sebastianebarb any objections?
We can do this pretty easily (I bet) with SiteImprove.

[2016-10-31 20:14] hackajesse opened #163 "Showcase "documents" more on Boston.gov"
Feedback from a constituent. Responded with questions about which documents she'd like more easily discoverable.

URL: https://www.boston.gov/
BROWSER: Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.116 Safari/537.36
--------------

The new site looks great and has clearly been re-tooled towards residents.  However, as a resident and a professional who

[2016-10-31 23:16] timmc opened #164 "Link to this repo from post announcing that boston.gov is open source"
I was excited to read https://www.boston.gov/news/mayor-walsh-announces-open-sourcing-bostongov but then had to guess my way to this repo. I was surprised that there was not a link!

Perhaps a part of #140. :-)

[2016-11-01 00:43] matthewcrist commented on #162
I'm 100% on board with this as target="_blank" is a security risk. Most of these are in the code and we'll need to remove them there.

[2016-11-01 00:51] sebastianebarb commented on #162
Sebastian goes as Matt goes

On Monday, October 31, 2016, Matthew Crist <notifications@github.com> wrote:

--

[image: Digital_City_Seal_black.png]

Sebastian Ebarb

Head Designer for the City of Boston

Department of Innovation & Technology

617.635.2249

[2016-11-01 00:57] gilronc commented on #137
I can probably help out with the mundane tasks......give me a start and i can probably finish it.  I believe a sample DB is needed for anyone that wants to test out or contribute to different features.

[2016-11-01 02:01] matthewcrist commented on #164
@jduffy2001 can you tackle this?

[2016-11-01 12:43] jduffy2001 commented on #164
I added a link to the press release. That's all set:

https://www.boston.gov/news/mayor-walsh-announces-open-sourcing-bostongov?new

[2016-11-01 12:44] #164 closed

[2016-11-02 14:45] hackajesse commented on #137
@gilronc that's great to hear! What type of help do you need to start?

[2016-11-02 17:51] edrohler commented on #133
The State of Indiana is using a service on Microsoft Azure titled Azure AD B2C as their authentication mechanism for their citizen users. Citizens can sign up with Facebook, Google, LinkedIn, Microsoft or an email. In addition, we can use azure's search service for each of spaces. Do you have organized data on the listings?

[2016-11-02 18:38] reillyzlab opened #168 "Script page: Lines appear with no contact listed"
On script page, if no contact information is entered, separation lines still appear on the right sidebar.

If no contact information is listed, then lines should not appear.

![capture](https://cloud.githubusercontent.com/assets/20731897/19942390/ef7970de-a109-11e6-86f8-95650a43a695.PNG)

See example on Hub: /tell-us-what-you-think

[2016-11-02 18:39] reillyzlab commented on #168
Related ticket - #22

[2016-11-02 18:40] reillyzlab commented on #22
Related ticket - #168

[2016-11-03 04:20] gilronc commented on #137
The "easiest" way i can think of getting a quick demo platform out to the public is to create a clone from your production installation and delete all nodes/content.  Essentially, you would be providing me with a skeleton of the site and i can create Demo/Example content for all content types and paragraphs components.  Other developers would be able to use that package to get a quick idea of how

[2016-11-03 04:31] gilronc commented on #163
Maybe a Publications Content Type can be created......A great example is Gov.UK (https://www.gov.uk/government/publications) and they've even documented their reasoning behind their choices and provided sample use-cases(https://www.gov.uk/guidance/content-design/content-types).  This can probably work on Boston's website by creating a Page View of all Publications.  Departments would be able to ad

[2016-11-03 05:42] BrianGilbert commented on #140
If your looking at Drupal VM you might want to check out Beetbox VM instead, it's built on top of Drupal VM..  https://github.com/beetboxvm/beetbox

[2016-11-04 00:37] sugaroverflow commented on #92
I've recently been working a lot with advpoll and core's poll module, so I might be able to help with this! @ me when it's groomed :)

[2016-11-04 14:40] matthewcrist opened #180 "Workbench Moderation security update"
There's a security update for the workbench moderation module. The version that is required to move to contains major changes to how content is moderated. Will need to spend some time with it to figure out the best path forward.

[2016-11-04 14:41] matthewcrist commented on #180
/cc @hackajesse @reillyzlab

[2016-11-04 16:33] matthewcrist commented on #180
Here is an issue on the Drupal side: https://www.drupal.org/node/2824607

[2016-11-05 00:11] matthewcrist opened #181 "Readability on the site"
We've received a fair amount of feedback about font readability and am creating a blanket issue to cover possible fixes...

1) Some of our line lengths are too long. Ideally, the max line length would be 60-70 characters. At full width, our line lengths can get up to 140. With our font size, we can probably accommodate more (say 90) and still be an easy read.
2) Our line-height can probably be red

[2016-11-06 20:00] hackajesse commented on #134
This is a great set of thoughts, @scuerda! Thank you! @joshuagee want to investigate? You've been the lead on this issue for death certificates in particular.

I'd be most interested in the roll-your-own option since we have to integrate it seamlessly into Boston.gov styles / includes files.

[2016-11-07 14:57] hackajesse commented on #180
@matthewcrist that doesn't look fun at all for our content authors / editors. :/ Thx for the update.

Adding Help Wanted label so folks checking out our repo can potentially help.

[2016-11-07 15:02] joshuagee commented on #134
That's a ton @scuerda -- probably agree with Jesse about the roll-you-own. The real tough part is integrating with our payment system. This is a great starting place, though.

[2016-11-07 15:12] reillyzlab opened #182 "News and announcements component - require title"
On the news and announcements component, if a title is not entered a title line is still appearing.

If a title is not entered, then the line below the title should disappear.

![news and announcements title](https://cloud.githubusercontent.com/assets/20731897/20062713/b0b6db1c-a4d2-11e6-9a95-926940ded061.PNG)

[2016-11-09 15:49] reillyzlab opened #183 "Events Component (Detailed Listing Page) - Cost Field Not Appearing"
**Background:**
On many events the 'cost' field is being left off.

On events detailed listing page, the cost isn't showing up even when it is entered by a content contributor. Cost does show up on the events listing page at /events.

Shows up on boston.gov/events
![events-screen](https://cloud.githubusercontent.com/assets/20731897/20147812/aebc8b12-a677-11e6-8514-742bee5d65bd.PNG)

Doesn't show u

[2016-11-09 16:48] jduffy2001 opened #184 "Add department heads to department pages"
Need to circle back and make sure we have profiles for all our department heads on our department pages.

[2016-11-09 18:02] hackajesse commented on #6
Closing. Works.

[2016-11-09 18:02] #6 closed

[2016-11-09 19:44] jduffy2001 commented on #184
Added this information on Property Management:

New commissioner, Greg Rooney. So far the only information I have for the commissioner page is:

Name and title: Greg Rooney, Commissioner for Property Management
email address: gregory.rooney@boston.gov
Property management phone number and address for rest of contact info
Still need for the person profile:

- Headshot
- Bio

[2016-11-11 14:50] wryenmeek commented on #34
**Food for Thought**: Who wants to print? What do they want to Print? and Why do they want to print? What about a browser 'ctrl+p' print doesn't meet user needs? In most cases printing a website to paper is less valuable than browser bookmarking or link sharing. Is this an enhancement because; 'the old site did it' or 'As a user I don't trust digital and print every website' ?

[2016-11-11 14:59] StevenBlack commented on #34
Absolutely support printing.  @wryenmeek lots of use cases for printing especially in municipal contexts.  Go to one contentious public meeting, for example, and observe: people print from municipal websites more than many would imagine.

[2016-11-11 15:09] StevenBlack commented on #34
This is related to printing, and it's an analogous acid test: make sure the site renders well when used with read-it-later services like Instapaper and Pocket.

I picked a page at random: [AFFIRMATIVE MARKETING](https://www.boston.gov/housing/affirmative-marketing).

Here the body renders just fine but ancillary nice-to-haves don't show; the `Resources` and `Who's Involved` sections don't show. So

[2016-11-11 16:05] wryenmeek commented on #34
@StevenBlack I'm not suggesting the site doesn't support printing, just digging into how people are using printed information from the site. Offline Meeting Reference is a great use case, and there are likely _many_ others. Digging into the who, what, and why a bit might reveal some additional insights about what to content to focus on and turn up some related Information Architecture issues that

[2016-11-14 14:47] matthewcrist commented on #153
This is done.

[2016-11-14 14:47] #153 closed

[2016-11-14 15:12] matthewcrist commented on #182
Seems like the issue here is that the title isn't required. @reillyzlab or @hackajesse is there any reason why the title shouldn't be required? i don't see one.

[2016-11-14 15:14] reillyzlab commented on #182
I don't see a reason that it shouldn't be required, but if we do that could we make it required and allow for content contributors to 'hide title bar' like their able to do on the text component?

[2016-11-14 15:16] matthewcrist commented on #10
@sebastianebarb can you put together what you'd want from a generic no results view on the listing pages?

[2016-11-14 18:52] hackajesse commented on #182
My preference would be to require it. A component like this should be titled - sometimes tough to tell whether the cards are events or posts, so that clarity is important.

@reillyzlab thoughts?

[2016-11-14 19:00] matthewcrist commented on #34
Not sure this one is completely ready to go. We should discuss this a bit more. My preference is for a print friendly style sheet combined with a print button sidebar component that replicates CMD+P for constituents who are not familiar with browser print functionality.

[2016-11-14 19:01] matthewcrist commented on #13
Moving back to grooming for now. Removing the fields will delete any existing data in these fields, and we don't currently have the ability to hide the fields. We should probably just leave them until we have a firm grasp on related content.

[2016-11-15 14:12] hackajesse opened #192 "Create an RSS feed in the CMS"
Hi @asalsman -

We can create RSS feeds in Drupal via path Structure >> View, but only Hub and staging have access to that menu item.

Can you investigate:

1. Why it is only in those environments
2. Whether it is in those environments by accident

and then give both Hub and Boston.gov Administrator roles access to that menu item?

Thank you!

[2016-11-15 14:29] matthewcrist commented on #192
We shouldn't allow View access in Production. We need to investigate why it shows up in Hub prod and disable it. Then turn it on in the staging environments for both sites. This will need to be done in the settings files via the Acquia Environment variables.

[2016-11-15 14:45] hackajesse commented on #192
@matthewcrist ok. @asalsman end goal is to be able to create RSS feeds without developer help.

[2016-11-15 14:50] jduffy2001 commented on #182
Agree with the title being required. The only difference between the events and posts components is the author information under posts. Might get confusing for a user.

[2016-11-15 14:51] reillyzlab commented on #182
Confirming: Please make the title required and don't allow for people to hide the title.

[2016-11-15 15:04] #22 closed

[2016-11-15 15:05] #168 closed

[2016-11-15 15:19] reillyzlab opened #193 "Dates not appearing on news or events components on tablet or mobile"
Dates not appearing on news or events components on tablet or mobile at all.

See boston.gov homepage:

![img_5463](https://cloud.githubusercontent.com/assets/20731897/20311209/ea62c60a-ab1c-11e6-8df8-66450dd23c4e.PNG)

[2016-11-15 15:25] hackajesse commented on #128
@hlieberman made it commentable. We've nearly finished it, though at this point. Sorry for the delayed response. We expect to be more responsive in the future. Also, just as a repo management point, the Help Wanted label will be issues we're most in need of feedback / thoughts on. Thanks for checking us out!

[2016-11-15 15:43] asalsman commented on #193
Definitely caused by the changes I made in issue #25. Same flag, different event box layouts. Working it now.

[2016-11-15 20:31] matthewcrist commented on #192
Assigning to @hackajesse to think about how to best apply this to the site.

[2016-11-15 20:32] #25 closed

[2016-11-15 20:41] reillyzlab opened #196 "Add 'tools' link to Hub header"
Nearly 20% of page sessions involve users going to /tools immediately, which is about 15% more than other page types.

Goal: As a 'power users' I want to get to the applications [/tools] that I use most frequently more quickly.

Requirements:
Add a 'quick link' to 'tool's at [Hub URL]/tools to Hub header.

Specifications on where to add/styling:

- Add this when a user is logged in to the left of

[2016-11-16 15:03] reillyzlab opened #197 "Events and Public Notices: Add additional clarifying language for event date (end time)"
When content contributors enter event date start date/time and end date/time they must select a checkbox says 'show end date' Only after they select this select this checkbox does the option to add in an end date/time appear for content contributors to enter those items.

A fair number of content contributors seem to be missing the option to add in an end time.

To resolve, please add the words 'a

[2016-11-17 17:58] reillyzlab opened #199 "Tools/apps list becoming unchecked/unavailable post-deploy"
After we made a deploy to incorporate the new public notice feed the tools/apps somehow became unchecked and wasn't surfacing the list of applications for /tools on Hub.

Matt resolved by re-enabling, but further investigation is needed to determine if this will do this again next time we have a deploy and how to resolve if so.

[2016-11-18 19:27] hackajesse opened #201 "Related content field functionality"
Related content fields in the CMS are non-functional except for the one titled "Related Content". There are opportunities for the other types of fields. This is a detail of that opportunity.

- [ ] Tagging events and public notices with a related content field
    When I tag a field in Related Content on {event / public notice} content type, it should display in the {UPCOMING\_EVENTS} component of

[2016-11-18 20:20] hackajesse opened #202 "Related content functionality on Public Notices"
How are Public Notices (on boston.gov/public-notices) filterable? How are Public Notices taggable with related content? Reference  [#BOS-3](https://cityofbostondigital.aha.io/features/BOS-3)  aka #﻿201

- [x] People
    References person profiles

- [x] Places
    Should reference the following type of place profiles:

    - cemeteries
    - community centers
    - parks
    - historic districts
-

[2016-11-18 20:20] hackajesse opened #203 "Related content functionality on Events"
- [ ] People
    References person profiles

- [ ] Places
    Should reference the following type of place profiles:

    - cemeteries
    - community centers
    - parks
    - historic districts
- [ ] Events or Public Notices
    References both events and public notice content types

- [ ] Posts
    References posts

- [ ] Programs / Initiatives
    References program / initiative content type

[2016-11-18 20:20] hackajesse opened #204 "Related content functionality on Posts"
- [ ] People
    References person profiles

- [ ] Places
    Should reference the following type of place profiles:

    - cemeteries
    - community centers
    - parks
    - historic districts
- [ ] Events or Public Notices
    References both events and public notice content types

- [ ] Posts
    References posts

- [ ] Programs / Initiatives
    References program / initiative content type

[2016-11-18 20:48] hackajesse opened #205 "Events component should display Public Notices"
A public notice content type tagged with any related content should show up in the events component on the specified related content node(s).

[2016-11-18 20:49] hackajesse commented on #205
@sebastianebarb - would you create a comp for what a public notice should look like when shown within an events component? This is the public notice equivalent for an event in an events component.

[2016-11-18 20:50] sebastianebarb commented on #75
![screenshot 2016-11-18 15 49 29](https://cloud.githubusercontent.com/assets/20642299/20446256/c7ee0616-ada6-11e6-8e65-bcfb851e0782.png)
@hackajesse

[2016-11-18 21:02] sebastianebarb commented on #66
![news-a-1440](https://cloud.githubusercontent.com/assets/20642299/20446580/64de22d4-ada8-11e6-9233-fb627ce1e67d.png)
![news-768](https://cloud.githubusercontent.com/assets/20642299/20446581/64deaccc-ada8-11e6-85c8-5d886d59ce79.png)
![news-480](https://cloud.githubusercontent.com/assets/20642299/20446582/64e3bbea-ada8-11e6-8a89-1c168654996e.png)

[2016-11-18 21:06] sebastianebarb commented on #99
@hackajesse no such comp exits.

[2016-11-18 21:09] sebastianebarb commented on #105
@hackajesse do you want me to provide dimensions or check that the task has been completed?

[2016-11-20 13:52] hackajesse commented on #34
@gilronc in #163 discussed a documents landing page. Could be useful to think about how these work together.

Does anyone have insight into giving the report creator the ability to enter charts / graphs, etc. and then have those nicely printable - similar to what a Word / InDesign --> PDF process might be now?

[2016-11-21 14:40] #127 closed

[2016-11-21 14:40] #126 closed

[2016-11-21 14:40] #125 closed

[2016-11-21 14:40] #124 closed

[2016-11-21 14:41] matthewcrist commented on #50
This is ready on production.

[2016-11-21 15:51] hackajesse opened #208 "Location updates to Public Notices content type"
Updating the location section of the public notices to adjust post user testing.

- [x] Remove "Company"
- [x] Change copy on Full Name and add help text
    - Make "Full name" optional
    - change to "Name of location".
    - Add help text "For example: Ianella Chamber, BPDA Conference Room, or Environment Department."
- [x] Change copy on Address 1 and add help text
    - Make Address 1 require

[2016-11-21 15:55] hackajesse opened #209 "Public Notice content type doesn't style "Who's Involved""
Related departments under "Who's Involved" don't style as defined department mini-cards, but should. They appear in Lora.

https://www.boston.gov/public-notices/11406

whos-involved-public-notices.PNG (https://cityofbostondigital.aha.io/attachments/token/dfb20fdd95094858acaca016fffa8112e9a31f6bd761cad47dfa7e5dd60f2882.download)

[2016-11-21 15:55] sebastianebarb commented on #205
[Public notices in news.pdf](https://github.com/CityOfBoston/boston.gov/files/604085/Public.notices.in.news.pdf)
@hackajesse

[2016-11-21 15:56] hackajesse opened #210 "Phone, not email, should be required on Public Notice content type"
Most of the public notices only have a phone number associated with them, not an email.

[2016-11-21 16:23] hackajesse commented on #205
Not so much  in /events as in an actual events component, @sebastianebarb. Would you comp a public notice for the events component?

![events-component](https://cloud.githubusercontent.com/assets/3886936/20490705/dcb91bb6-afdc-11e6-824d-fc3d2d6602fe.PNG)

[2016-11-21 16:28] asalsman commented on #161
[Results of technical assessment and research as well as questions](https://docs.google.com/a/boston.gov/document/d/1WOXTV-wnb0qhcmtVJAQywuTbsRmX4k5V3Nxs2T8lhUs/edit?usp=sharing)

[2016-11-21 16:34] hackajesse commented on #161
Creating a new issue from our product management software and syncing here. Closing this.

[2016-11-21 16:34] #161 closed

[2016-11-21 16:35] hackajesse opened #211 "Repeating events"
Events can repeat on Boston.gov, but the experience isn't good for either the event creator or the event posting viewer. Repeating events should be intuitive to both create and understand.

- [ ] Cancel an event in a series without affecting the whole series
- [ ] Update a single event, all events, or all events after a certain date in an event series
- [ ] Create a multi-day event with specific h

[2016-11-21 17:03] hackajesse opened #212 "Live stream indicators on /events not quite right"
The live stream indicators on /events aren't quite as defined. Here's what needs to be improved:

- [ ] Show the video icon when events have a video component
    Just the play icon, not the word "LIVE"

- [ ] Events with a live stream need "LIVE"
    Any event with a video component on it and the live stream box checked should have the word "LIVE" show up to the right of the play video icon when

[2016-11-21 17:05] hackajesse opened #213 "Live stream page doesn't reload after countdown finishes"
Any page with a live stream should reload the page or show the play button after the countdown finishes. It doesn't at the moment. You have to reload the page yourself and many folks don't know how to do that.

[2016-11-21 17:07] hackajesse opened #214 "Live Stream needs to be associated with the Video component type, not the Event & Public Notice content type"
Shouldn't live stream be associated with the video component on the page?

For example, the checkbox for "this is a live stream event" is on an event content type rather than in the video component.

[2016-11-21 17:31] hackajesse opened #215 "Wrap and stylize countdown in JS on video component"
When a video is doing the countdown for a live stream, the countdown needs styling.

- [ ] Line break before "Check back in... etc time countdown"
    The supporting copy should wrap. It doesn't. Break at "Check..." and font scale per Hondo's other font scaling efforts (ask him).

- [ ] Make supporting copy Lora itals
    @sebastianebarb will attach a comp with sizing info

[2016-11-21 17:35] hackajesse opened #216 "Add department to Video component"
Department doesn't show in the video component, but it should. Take the department from the contact required on whichever content type the video component appears on.  @sebastianebarb will add a comp.

[2016-11-21 17:35] sebastianebarb commented on #215
https://drive.google.com/open?id=0B0RwQU94BhGeT2NuSlUzTWt2cFE

[2016-11-21 17:35] sebastianebarb commented on #216
https://drive.google.com/open?id=0B0RwQU94BhGeT2NuSlUzTWt2cFE

[2016-11-21 17:36] hackajesse commented on #215
@sebastianebarb FYI those drive files need to be more open access - anyone w/the link can view

[2016-11-21 17:40] sebastianebarb commented on #215
done

On Mon, Nov 21, 2016 at 12:36 PM, Jesse Biroscak <notifications@github.com>
wrote:

--

Sebastian Ebarb

The Designer for the City of Boston

Department of Innovation & Technology

617.635.2249 (w)

[2016-11-21 18:05] asalsman commented on #214
Valid, based on request. Focused on event, missed that one little sentence.

My concern of attaching it to the video component is that it now opens up any content type with video attached to have a live stream component. We'd want to build it to short circuit if the the parent isn't an event page, at least in the short term, and go straight to being a video.

Once we do that, one by one, we can ad

[2016-11-21 18:18] hackajesse opened #217 "Show department full contact info on Posts"
Posts currently show only a small snippet of the department. See attachment.

Posts _should_ pull in all information from the sidebar of a department's contact page. See revised attachment (including any extra phone numbers, contact info, etc. added as additional sidebar components).

posts-sidebar-contact.PNG (https://cityofbostondigital.aha.io/attachments/token/09d2a77c5feba6a6d154710a907f06b285

[2016-11-21 18:20] hackajesse commented on #13
Leave them and adjust per #201 #202 #203 #204
Please comment on each individual issue. Note 201 is the main functionality issue. Closing this issue.

[2016-11-21 18:20] #13 closed

[2016-11-21 18:21] hackajesse opened #218 "related"

[2016-11-21 18:21] #218 closed

[2016-11-21 18:51] hackajesse opened #220 "Clearly define the "news tag" tag? / category? / taxonomy? on Posts"

[2016-11-21 19:50] hackajesse commented on #12
Closing this issue. Ref #201

[2016-11-21 19:50] #12 closed

[2016-11-21 19:51] hackajesse commented on #78
Closing. Ref #201

[2016-11-21 19:51] #78 closed

[2016-11-21 19:55] hackajesse commented on #76
@jduffy2001 there are a few questions here that need your input.

Note that this is related to #35.

When someone's on a post, should we put a sidebar button that says "See more posts by this department"?

[2016-11-21 20:18] sebastianebarb commented on #99
https://drive.google.com/file/d/0B0RwQU94BhGeX2NzUWdKZGFDZEk/view?usp=sharing
![event not found](https://cloud.githubusercontent.com/assets/20642299/20499054/be1c1a20-affd-11e6-9375-fe7be62a10ae.png)

[2016-11-21 20:19] sebastianebarb commented on #10
https://drive.google.com/file/d/0B0RwQU94BhGeX2NzUWdKZGFDZEk/view?usp=sharing
![event not found](https://cloud.githubusercontent.com/assets/20642299/20499072/d3ecd966-affd-11e6-81da-37862999d39e.png)

[2016-11-21 20:45] hackajesse opened #222 "Update content author role to create and edit public notices"
Add the following to the Content Author role.

Public Notice: Create new content
Public Notice: Edit own content
Public Notice: Edit any content

[2016-11-21 21:10] sebastianebarb commented on #35
https://drive.google.com/open?id=0B0RwQU94BhGeNGVNNDREVEVZMnc
![upnext](https://cloud.githubusercontent.com/assets/20642299/20500788/ed119e20-b004-11e6-9884-b065f150db00.png)

[2016-11-22 14:43] sebastianebarb commented on #205
@hackajesse how about this?
Mock
![public notices hero](https://cloud.githubusercontent.com/assets/20642299/20527801/b9805c34-b097-11e6-9c1d-6991fcf96dad.png)

SVG
https://drive.google.com/open?id=0B0RwQU94BhGecjA5RkJWWjdSTEk

Sketch
https://drive.google.com/open?id=0B0RwQU94BhGeaXBWa19yU1d6NjA

[2016-11-22 17:30] sebastianebarb commented on #33
@hackajesse Color combos can be pulled from current components. (see attachments)

- Text, right now, events and gird of people components should always be white or light grey background
- News, Transaction grig, Grid of links, Grid of quotes, grid of departments should be able to have dark blue, white or light grey background.

![grid-of-topics-1440](https://cloud.githubusercontent.com/assets/206

[2016-11-22 18:38] asalsman commented on #215
Re: Font scaling - Video Component hasn't been updated in the pattern library, so font scaling will be pushed off until a later date, per @matthewcrist

[2016-11-22 18:42] jduffy2001 opened #224 "Reverse order of archived public notices"
Right now, we're displaying the oldest notices first, instead of the latest notices to pass at the top. Could we reverse the order, so the most recent notices to pass appear at the top?

https://www.boston.gov/public-notices/archive

[2016-11-22 18:43] sebastianebarb commented on #99
@hackajesse talked this over with Hondo
![post](https://cloud.githubusercontent.com/assets/20642299/20537048/959e8e18-b0b9-11e6-855b-42d7353c347d.png)

https://drive.google.com/open?id=0B0RwQU94BhGeUWdGbWhNUTRUZlE

[2016-11-22 18:54] sebastianebarb commented on #105
@hackajesse
Top photo
Top # is 11px
bottom is 24px

Bottom photo
bottom is 24px

[2016-11-22 20:51] hackajesse opened #225 "test feature"
test

[2016-11-22 20:51] #225 closed

[2016-11-23 14:27] hackajesse commented on #75
Notes for the future:
Need to figure out what any emails / SMSs look like.
Need to figure out what the triggers are for pushing an update. Simple change? What constitutes a "major" change?
Not on Posts. Events makes sense if there's a change to the location / time, etc. Could do a calendar feed instead.
Not on Department pages.

[2016-11-23 14:30] hackajesse commented on #35
"Up Next" might be generated by the "news tags" in the CMS. Ref #220

[2016-11-23 14:36] hackajesse commented on #205
Add copy to the icon: "public notice".
Change from News / Announcements component to Upcoming events component
Ensure there's a Featured public notice and a non-featured public notice in the comp.
See what adding Dept name onto each card looks like.

[2016-11-23 15:40] asalsman commented on #215
After moving on to issue #213, I've found that I've needed to re-architect. The work for this will end up in the pull request for that issue and I've closed the related PR which I had already submitted without merging.

[2016-11-23 17:45] asalsman commented on #216
I can't find anything in that sketch file to direct me on where department should be rendered/how it should look. Can I get some additional direction, @hackajesse?

[2016-11-23 17:49] asalsman commented on #216
@sebastianebarb hooked me up. I kinda grok what's going on in sketch and he showed me what I'm missing.

[2016-11-23 18:31] asalsman commented on #216
So, on an event, we have contact which refers to department. Then there's video credit on the video component (non-required field).

What is the priority between video credit and department credit? Should:
- Both be displayed
- Department always win
- Video credit beats Department, when it's entered

No horse in this race for me, just want to know priority meta.

[2016-11-23 18:38] hackajesse commented on #216
Is there space for both?
Can dept become a link?

No commitment yet on priority. ;)

[2016-11-24 18:02] HellooooNewman opened #227 "You can see the apache page at this url"
http://mayors24.boston.gov/
Should probably have a redirect in place.

[2016-11-24 18:56] sugaroverflow commented on #227
+ You can get to http://mayors24.boston.gov/ if you poke around 311 requests that are coming from Lagan, but https://mayors24.cityofboston.gov/ directs to 311.boston.gov (the URL doesn't change)

[2016-11-25 13:32] asalsman commented on #216
@hackajesse All of the data is available, so anything is possible. I'll work something up today. You/ @sebastianebarb can take a look and offer some direction once I have it all built out.

[2016-11-25 16:22] sebastianebarb commented on #205
![public notices hero](https://cloud.githubusercontent.com/assets/20642299/20630836/76830672-b301-11e6-9517-1cb2783210a5.png)

[2016-11-28 14:23] hackajesse commented on #50
This looks good. Started new issues w/bugs or adjustments ( #212 #213 #214 #215 ). Closing.

[2016-11-28 14:23] #50 closed

[2016-11-28 14:24] hackajesse commented on #210
Looks good. Closing.

[2016-11-28 14:24] #210 closed

[2016-11-28 14:26] hackajesse commented on #105
@matthewcrist measurements included whenever you update styles for place profiles.

[2016-11-28 14:31] hackajesse commented on #162
@reillyzlab do you want this on the Hub, too?

[2016-11-28 14:33] hackajesse commented on #66
@sebastianebarb I think this was meant to be the featured _guides_ not the featured events / news. Is there any difference right now between the IDEO comps for guides and what's on the website now?

[2016-11-28 14:35] hackajesse commented on #197
@asalsman this applies to public notices _and_ events on both the Hub and Boston.gov

[2016-11-28 14:36] hackajesse commented on #70
@sebastianebarb are there comps for this? If so, would you add please?

[2016-11-28 14:38] hackajesse commented on #227
@sugaroverflow this predates me. Should those two pages redirect to http://www.cityofboston.gov/311 ?

[2016-11-28 14:39] sebastianebarb commented on #70
@hackajesse No comps, I can create one. When do you need this by?

[2016-11-28 14:41] sebastianebarb commented on #66
@hackajesse there is no featured guide mock up. Whats on the site is extremely close to the Ideo mock.

[2016-11-28 14:46] hackajesse commented on #140
Ref #136 and #191 folks. Let's make sure we're coordinating.

[2016-11-28 14:46] reillyzlab commented on #162
@hackajesse yes, added label

[2016-11-28 14:49] hackajesse commented on #132
@dshaw4 got any best practice links I can use for research / digging in?

[2016-11-28 14:51] hackajesse commented on #121
@matthewcrist pretty sure this is done or WIP. Pls update.

[2016-11-28 14:51] hackajesse commented on #119
This is done. Closing.

[2016-11-28 14:51] #119 closed

[2016-11-28 14:52] #121 closed

[2016-11-28 14:52] #122 closed

[2016-11-28 14:52] #123 closed

[2016-11-28 14:52] #120 closed

[2016-11-28 14:52] hackajesse commented on #102
@jduffy2001 this is something you and Steve were working on. Can you post an update here w/progress? If it's stalled, ok, but just share what's happened.

[2016-11-28 14:55] hackajesse commented on #72
@reillyzlab assigning this to you for grooming since it's Hub only.

[2016-11-28 14:58] hackajesse commented on #69
@sebastianebarb is this idea any different from the guides "follow" button? Ref #75

[2016-11-28 14:59] hackajesse commented on #59
@reillyzlab is there context around not having an auto-save option?

[2016-11-28 15:01] hackajesse commented on #92
@sugaroverflow got any examples of those in action?

[2016-11-28 15:06] hackajesse commented on #4
@matthewcrist that looks great, actually. Moving to ready. Would apply to events and posts content types since those have truncated components showcasing cards of information.

@jduffy2001:
Do you think we can restrict title / intro length for public notices?
Should this restriction of title / intro content apply to articles or other content types?

[2016-11-28 15:12] sugaroverflow commented on #227
@hackajesse I would think so! That or 311.boston.gov ? Not sure where the redirect would be handled though since it's on the boston.gov domain.

When we launched 311, I'm pretty sure we redirected any mayors24.cityofboston.gov to boston.gov/311 or 311.boston.gov (depending on the request, some of them go to the new portal).

[2016-11-28 15:13] hackajesse commented on #11
Solved this outside of the CMS w/a new url structure (boston.gov/public-notices/[node ID]).
Since the inside-the-CMS issue hasn't been a problem recently w/the new content type, closing this issue. However, ref for #211 when @asalsman takes a look at repeating events.
Closing.

[2016-11-28 15:13] #11 closed

[2016-11-28 15:15] hackajesse commented on #70
@sebastianebarb end of 2016.

[2016-11-28 15:16] sugaroverflow commented on #92
The project I worked on with polls isn't public yet, but I can find you some general Advanced Poll examples (or maybe set up a demo)!

Do you have an idea of what you need to do with polls?

[2016-11-28 15:18] hackajesse commented on #24
@asalsman have you seen anything in your investigations into related content that would help create this type of internal navigation?

[2016-11-28 15:20] hackajesse commented on #26
Relevant for #205 soon.

[2016-11-28 15:20] hackajesse commented on #26
Question answered. Closing issue.

[2016-11-28 15:20] #26 closed

[2016-11-28 15:21] hackajesse commented on #27
Related to #155 - hoping to alleviate this issue completely with a different nav.

[2016-11-28 15:25] hackajesse commented on #42
@reillyzlab can you share the comp on file for this? Not sure what this is.

[2016-11-28 15:26] hackajesse commented on #49
Need to update Events component like we did for Public Notices.

[2016-11-28 15:38] dshaw4 commented on #132
Hi Jesse

Hmmm. This is not a well known area of content management.I learned how to
do it on the online technical manual for the F-117.

Research the semantic web for a starting point. O'Reilly is probably a good
source.

An ontology is two nodes with a property arrow linking them. For example,
something like this:

Wayne Gretzky
                      ------ (player) -------> Hockey ------ (sport

[2016-11-28 18:17] reillyzlab commented on #4
@hackajesse do you have an example of where this is happening that we can quickly reference?

[2016-11-28 18:21] reillyzlab commented on #59
@hackajesse my understanding is that it was out of scope for MVP.

[2016-11-28 19:53] asalsman commented on #212
Points 2, 3, and 4 should all be addressed with the commit I'm about to make.

Point 1 is problematic. With some work, I was able to get the calendar view to know that components are attached to an event, but neither the event or the calendar know anything about the components.

There's no meta that gets sent to either of them that differentiates between, say, a video component and a grid of peopl

[2016-11-28 21:33] hackajesse opened #232 "Have authenticated users be able to see all unpublished content"
In the CMS under People >> Permissions >> Authenticated Users >> Workbench Moderation, enable "View all unpublished content."

[2016-11-28 23:59] matthewcrist commented on #232
@reillyzlab should this apply on the Hub? My guess is not, since everyone is authenticated in the Hub.

[2016-11-29 01:55] matthewcrist commented on #222
Ready on prod

[2016-11-29 01:57] matthewcrist commented on #151
Ready on production

[2016-11-29 01:57] matthewcrist commented on #224
Ready on production

[2016-11-29 01:58] matthewcrist commented on #209
Ready on production

[2016-11-29 01:58] matthewcrist commented on #199
This should be fixed. You should be able to edit the page after this deployment.

[2016-11-29 01:59] matthewcrist commented on #143
Should be on production.

[2016-11-29 01:59] matthewcrist commented on #208
Ready on production

[2016-11-29 13:51] reillyzlab commented on #232
@matthewcrist Yes, please no on this for Hub

[2016-11-29 13:52] jduffy2001 commented on #224
Looks good.

[2016-11-29 13:52] #224 closed

[2016-11-29 14:27] asalsman commented on #216
I've got something done locally, but the more I look at and test this, the more confusing I think this can end up being for both the person inputting the video and the end user.

On the video, there's a field "video credit" where the instructions tell the user how to tag a dept. and then pulling in the dept. from the event itself. I can see situations where it gets duplicated by the user and then

[2016-11-29 16:26] reillyzlab commented on #151
Tested on both hub and boston.gov and confirmed changed. closing ticket.

[2016-11-29 16:26] #151 closed

[2016-11-29 16:28] reillyzlab commented on #199
Confirming fixed. Closing ticket.

[2016-11-29 16:28] #199 closed

[2016-11-29 17:04] reillyzlab commented on #143
On production and working as expected. Closing ticket.

[2016-11-29 17:04] #143 closed

[2016-11-29 17:30] hackajesse commented on #209
Confirmed - looks good. Closing.

[2016-11-29 17:30] #209 closed

[2016-11-29 17:31] hackajesse commented on #222
Confirmed - thanks! Closing.

[2016-11-29 17:31] #222 closed

[2016-11-29 17:33] hackajesse commented on #208
Looks great. Thank you! Closing.

[2016-11-29 17:33] #208 closed

[2016-11-29 17:34] hackajesse commented on #232
This is on production now. Closing.

[2016-11-29 17:34] #232 closed

[2016-11-29 18:33] #156 closed

[2016-11-29 18:35] hackajesse opened #235 "Turn moderation notes into a record of page edits"
In the CMS, content authors do not generally use moderation notes. However, moderation notes make the process of approving draft content much faster for users with publishing rights. This story details how moderation notes should evolve so that they become a regular part of a content creator's content creation process.

Note that this applies to all content types.

- [ ] Make moderation notes requ

[2016-11-29 18:37] hackajesse commented on #235
Takes the place of #88.

[2016-11-29 18:37] hackajesse commented on #88
Expanded this issue into #235. Closing.

[2016-11-29 18:37] #88 closed

[2016-11-29 19:00] asalsman commented on #201
In researching I've found that not-Public Notices display related departments down at the bottom of the page with "TBD:" as a header instead of something akin to Public Notices which displays the header as "WHO'S INVOLVED:"

Thoughts on how to handle this on non-Public Notice pages?

[2016-11-29 19:01] hackajesse commented on #216
@asalsman data will stay contained in the component itself. So don't pull department into the Video credit on the video component.
Instead, turn the Video Credit field into an autopopulating field pulling data from departments and programs / initiatives.
Copy should be "Credit: ___name of dept / program / intiative___"

Not required.

[2016-11-29 19:36] reillyzlab commented on #193
Was fixed. Closing ticket.

[2016-11-29 19:36] #193 closed

[2016-11-29 20:02] hackajesse commented on #214
@asalsman that sounds reasonable (short circuiting).
Can you clarify whether you'd be short circuiting the JS for the countdown or the UI changes to listing pages or both? Specifically any dev difficulties / excessive work. My preference would be to short circuit the UI changes to listing pages only.

[2016-11-29 20:19] hackajesse commented on #201
@asalsman Replicate what exists on Public Notice pages w/"WHO'S INVOLVED:" for posts and events content types. Note that related departments seem to be doing triple duty: they're relevant for search, for tagging (related content), and for the UI display at the bottom of public notices, events, and posts.

[2016-11-29 21:13] hackajesse opened #236 "Public notices shouldn't be promoted to front page automatically"
Public notices are defaulting to "promoted to the front page" in Publishing Options when creating a public notice. They shouldn't.

promoted-to-front-page.PNG (https://cityofbostondigital.aha.io/attachments/token/ab5c3c2ffa98604c70b10a51422b04988ef68fbaebaa82438247ad0227eec691.download)

[2016-11-29 21:51] hackajesse opened #237 "Add survey code to Boston.gov"
We need to better understand why people are visiting the website. Traffic is good as a start, but are people satisfied with the information or services they're getting.

- [ ] Follow instructions for adding the javascript to Boston.gov
    See attachment. Ask Jesse for the code.

    iPerceptions_Universal Code for Website Projects (v3.3) (1).pdf (https://cityofbostondigital.aha.io/attachments/tok

[2016-11-30 02:56] WheresHJ opened #238 "Boston logo cutting off 'Public Notices' in header"
At non-mobile screen sizes, the 'P' in 'Public Notices' is cut off by the logo. See screenshot.

![screen shot 2016-11-29 at 8 55 58 pm](https://cloud.githubusercontent.com/assets/642810/20738073/a6b4c24c-b67e-11e6-811a-e45c81259d3e.png)

[2016-11-30 14:25] matthewcrist commented on #237
Questions:

1. **How long should this be on the site?** This sort of thing should be finite since it adds page weight and isn't a great experience for users.
1. **What are the triggers for getting this display?**
1. **Has anyone tested it to make sure it meets our accessibility requirements?**
1. **Do we need to do anything to make it fit within our branding?**

[2016-11-30 14:28] matthewcrist commented on #237
Re: Accessibility

https://www.iperceptions.com/blog/introducing-iperceptions-responsive-survey-and-comment-card-interface

So we should just be able to do a quick test to verify it still meets AA.

[2016-11-30 14:49] matthewcrist commented on #34
@hackajesse Any charting library we use would be printer friendly. We would just need to make sure that the charts are built responsively.

[2016-11-30 14:55] matthewcrist commented on #49
On public notices, we replace the notice date with cancelled. On events, we should do something similar.

[2016-11-30 16:15] matthewcrist commented on #235
This one will need to wait until #180 is fixed. The moderation structure is completely different between the two version. Any custom work needed to complete this task would lock us in to the 1.x branch which has security issues.

[2016-11-30 16:40] hackajesse commented on #235
Thx for the heads up. Will wait.
cc @jduffy2001 @reillyzlab

[2016-11-30 16:46] reillyzlab opened #240 "Bypass login for internal traffic"
Goal: As an employee (full-time, part-time, contractor, intern, etc.), I would like to have as many barriers to entering the site removed as possible.

Acceptance Criteria:

1. If a user is on a City of Boston network, then the user should not be forced to log into the site except when needing to access sensitive information, such as personnel information and related applications.
2. If a user is

[2016-11-30 17:06] hackajesse commented on #237
I was planning on doing it for December. You're right that it isn't a great experience, but I need this information to better understand why people are coming. The move to Google Surveys (see below) should be lighter weight.

10% of people who visit Boston.gov, regardless of whether their browser is set to English.

Just found Google Surveys, which works with a screen reader (tested w/NVDA). Propo

[2016-11-30 17:46] matthewcrist commented on #237
@hackajesse that's much better. looks like you'll need to configure it first, then we can deploy it via tag manager (and schedule the undeploy for a month later).

[2016-11-30 21:23] matthewcrist commented on #214
@asalsman @hackajesse we should be able to have live stream video components on any content. the component should be the driver of whether there's a live stream going to happen.

[2016-12-01 15:42] matthewcrist commented on #202
This story should be broken up into more discreet items. For example:

---- Story 1 ----

**As a content editor, I want to be able to add related people to public notices.**

## Acceptance Criteria

 * Content editor can add related people to public notices
 * People should be listed as checkboxes

---- Story 2 ----

**As a site visitor, I want to be able to see related public notices and events o

[2016-12-01 16:18] asalsman commented on #201
Thoughts/investigation on Related Content/News Tags:
https://docs.google.com/a/boston.gov/document/d/1BxBfu6067YCgpNJbxaC9g5sH1jAyAxjxtbewY4a_c34/edit?usp=sharing

Will set some time up tomorrow to discuss.

[2016-12-01 16:41] asalsman commented on #216
I can have the field pull from Department OR Initiative/Program, but not both. Or we can add two optional fields so both are covered.

[2016-12-01 17:09] jduffy2001 opened #241 "Public testimony not displaying on public notices"
The public testimony button under "details" doesn't appear to be doing anything on the [public notices listing page](https://www.boston.gov/public-notices) or on the [public notice itself](https://www.boston.gov/public-notices/11756).

![image](https://cloud.githubusercontent.com/assets/7929556/20803698/1c554dd8-b7be-11e6-87c2-0244b3449ad9.png)

Also, we need an option for this public testimony bu

[2016-12-01 18:31] reillyzlab opened #244 "Add 'tools' link to Hub header"
Nearly 20% of page sessions involve users going to /tools immediately, which is about 15% more than other page types.

Goal: As a 'power users' I want to get to the applications [/tools] that I use most frequently more quickly.

Requirements:
Add a 'quick link' to 'tool's at [Hub URL]/tools to Hub header.

Specifications on where to add/styling:

- Add this when a user is logged in to the left of

[2016-12-01 18:32] reillyzlab commented on #196
Closing this ticket b/c replacing with zenhun version.

[2016-12-01 18:32] #196 closed

[2016-12-01 20:39] asalsman commented on #214
So says @matthewcrist, so say we all. Will kick this off.

[2016-12-02 15:14] asalsman commented on #214
So, here's a caveat I've realized now that I'm 80% done:

Based on functional specs, Live Stream requires a start time. Before that start time, there's a "the stream starts later" message. Most content types don't actually have a start time meta field. This leads us to extending the video component further *OR* building in failsafes to not display the live stream pre-message.

Given @matthewcrist'

[2016-12-04 02:15] CViering opened #248 "Opening main navigation menu removes ability to scroll in main page"
Opening the main navigation menu prevents the user from scrolling down the main content area, both by removing the scroll bar and not allowing mouse-wheel functionality.

[2016-12-05 17:38] matthewcrist commented on #241
This is fixed on production.

[2016-12-05 17:38] #241 closed

[2016-12-05 18:04] matthewcrist commented on #236
Ready in prod

[2016-12-05 18:04] matthewcrist commented on #238
This is fixed.

[2016-12-05 18:04] #238 closed

[2016-12-05 18:08] asalsman commented on #220
tl;dr: News Tags currently have no functional use. As such, "Tags" remains an acceptable term for them.

“News Tags” as a nomenclature is actually the most accurate title rather than if it were renamed. Currently, News Tags allow you to tag content with multiple tags. These tags display at the bottom of content as plain text, not linked.

Tag pages do not seem to exist, one cannot search by tags i

[2016-12-06 14:19] asalsman opened #249 "Remove unneeded console.logs"
I found a small bug when I clicked through to a post on abandoned vehicles:
https://www.boston.gov/departments/transportation/abandoned-and-impounded-vehicles

It would seem the subnav element is doing a console.log of the elements in it. This could adversely affect older browsers (IE) which don't handle console.log well/at all.

Quick glance found unnecessary console.logs here:
docroot/sites/all/

[2016-12-06 14:30] asalsman opened #250 "Breadcrumb collides with Last Updated"
As an example:
https://www.boston.gov/public-notices/12036

Extremely long page titles used in the breadcrumb are smashing into/overlapping with the Last Updated field on desktop and up.

This may could be a content, design, or technology issue, but I figure folks wiser than me should be the judge.

[2016-12-06 16:11] matthewcrist commented on #250
@hackajesse and @sebastianebarb My vote would be to ellipsis the breadcrumb at a sane size. We also need to keep the last updated right aligned. Looks like it moves left at lower widths.

<img width="1004" alt="screen shot 2016-12-06 at 11 11 08 am" src="https://cloud.githubusercontent.com/assets/9234/20933023/bcda9080-bba4-11e6-9919-1adb095ca3e8.png">

[2016-12-06 16:12] asalsman commented on #201
Assigning to @hackajesse for next steps after our last conversation.

[2016-12-06 17:40] asalsman commented on #31
This is done and live.

[2016-12-06 17:40] #31 closed

[2016-12-06 17:49] asalsman commented on #20
Confirmed this is functional on both Events and Public Notices.

[2016-12-06 17:49] #20 closed

[2016-12-06 19:00] sebastianebarb commented on #250
I'm on board with that.
On Tue, Dec 6, 2016 at 11:15 AM Matthew Crist <notifications@github.com>
wrote:

[2016-12-06 20:15] hackajesse commented on #236
Looks good. Closing.

[2016-12-06 20:15] #236 closed

[2016-12-06 20:23] hackajesse opened #253 "Differentiate between live and non-live video"
Show the video icon when events have a video component
Just the play icon, not the word "LIVE".

If the video is a live stream, show the word "LIVE" during the live stream.

[2016-12-06 20:23] hackajesse opened #254 "Show video icon if video component. Also show "Live" if live streamed."
Show the video icon when events have a video component
Just the play icon, not the word "LIVE"

[2016-12-06 20:25] hackajesse commented on #212
Created #253 to account for the first checkbox. Feel free to address that separately.

@asalsman - move this issue to QA when you merge.

[2016-12-06 20:26] hackajesse commented on #216
@asalsman move to QA if ready for review.

Pull from Department only if that's the only option. @matthewcrist can you confirm Adam's statement above?

[2016-12-06 20:27] hackajesse commented on #215
@asalsman please clarify your status on this issue - I'm confused as to what's going on.

[2016-12-06 20:28] hackajesse commented on #214
@asalsman confirming you should proceed as you wrote.

[2016-12-06 20:36] hackajesse commented on #14
@matthewcrist another image that might be relevant. Lmk if not and I'll create a separate issue.
![image 1](https://cloud.githubusercontent.com/assets/3886936/20942539/b8044c8e-bbc9-11e6-9e66-f281a31b2973.png)

[2016-12-06 20:37] hackajesse commented on #220
@matthewcrist ^^ something to think about for our search discussion

[2016-12-06 20:37] hackajesse commented on #220
Thanks for clarifying this, @asalsman - closing this issue.

[2016-12-06 20:37] #220 closed

[2016-12-06 21:27] reillyzlab opened #255 "Ensure avatar/log out appears even without email"
Background: If a user does not have an email in HCM, then they do not have the avatar in the header appear.

Goal: As an authenticated user, I want to be able to quickly log out from the Hub.

Acceptance Criteria: For users without an email, there should be a conditional item set so that the avatar still appears and allows a user to log out of the site.

Success Metric: Zero people are contacting

[2016-12-07 14:46] asalsman commented on #30
The issue here is that some components (the ones listed) are pulling from field_title to populate the title field.

The ones not listed are pulling from field_component_title. The admin view rendering pulls from field_component_title to make this visible.

Will do some testing to see what can be done without losing data.

[2016-12-07 15:11] asalsman commented on #30
When this gets picked back up/prioritized, my assessment is that field_component_title should be set to field_title if field_component_title doesn't exist in docroot/sites/all/themes/custom/boston/template.php -> boston_preprocess_paragraphs_item_video

That way we don't break the ones that have it being done "correctly" and we don't force users to double input title on the ones that aren't config

[2016-12-07 15:50] #249 closed

[2016-12-07 16:12] sebastianebarb opened #257 "Build 'Grid of Cards - Video' component for both Drupal sites"
The Jobs page, Cable office, MONUM and others are need of a grid of Videos. @reillyzlab do you think could be good for training videos on the Hub? No more then 9 videos should be displayed in the component. On click the video viewer should appear over the component and play the video.

![grid of videos](https://cloud.githubusercontent.com/assets/20642299/20975410/711ae1b2-bc6d-11e6-8e56-c4a6e592e0

[2016-12-07 16:13] matthewcrist opened #258 "Update the seal on sites"

[2016-12-07 16:15] #83 closed

[2016-12-07 16:21] sebastianebarb opened #259 "Grid of Links with Photos"
@jduffy2001 Requested a grid of links that allows for a photo to be attached. This would allow for grater visual diversity on the page. This should fallow the same programmatic rules as Grid of Links - D

![grid-of-links-w-photo-1440](https://cloud.githubusercontent.com/assets/20642299/20975927/f052a374-bc6e-11e6-90de-d035cd58bf3e.png)

Sketch file
https://drive.google.com/open?id=0B0RwQU94BhGeT2N

[2016-12-07 16:56] reillyzlab commented on #257
@sebastianebarb think it's a great idea for Hub too.

[2016-12-07 19:45] hamhands opened #260 "Startup instructions?"
This is sort of a _meta issue_, but I'd love to see some startup instructons for running boston.gov locally.

## User story

I'd like to contribute back to boston.gov, but I don't know how to start up locally on my machine. Instructions for starting up a local dev environment once the installation processes are complete would be super helpful!

## Acceptance criteria

1. Be able to access startup

[2016-12-07 19:48] hamhands commented on #260
@matthewcrist I don't think I can assign issues, so tagging you instead 👍

[2016-12-07 21:23] reillyzlab opened #262 "Create Keyboard Shortcuts for Hub"
**Goals:**

- As a user, I would like to be able to quickly navigate to specific pages on the website.
- As a user helping other employees, I would like to be able to quickly provide them with the navigation pattern to get to specific pages on the website.
- As a site administrator, I would like to be able to add keyboard shortcuts to the Hub that could be used to populate a list view.

**Acceptan

[2016-12-08 03:30] matthewcrist commented on #262
? should take users to keyboard shortcut article

[2016-12-08 03:40] matthewcrist commented on #262
We should use this library: https://github.com/madrobby/keymaster

@reillyzlab you'll need to come up with a detailed list of shortcuts prior to us starting this.

[2016-12-08 13:31] jduffy2001 opened #263 "Bullets broken in text component"
When you try to use bullets in any public notice, they appear to be broken. Looks like they're pulling in numbers instead of the bullets and adding in the carot from 'lists':

![image](https://cloud.githubusercontent.com/assets/7929556/21011728/8f6306f0-bd20-11e6-85ae-6d672ddb35f1.png)

[2016-12-08 13:37] jduffy2001 opened #264 "Time section of "public testimony" on public notices empty by default"
The "Time public testimony begins" should start out as empty when someone creates a public notice. If there is a specific time when public testimony starts, a user should have to add that in after checking the "public testimony" box.

Right now, when a user checks the public testimony box, they would have to remove the time below it in order for that time to not appear in the public notice.

![ima

[2016-12-08 14:00] asalsman commented on #201
After meeting with @matthewcrist and @hackajesse yesterday, our plan is to attempt to make the "News & Announcement" view contextually aware of the content it is slotted on with a final conditional that if it can't create a context, to just use the default "Related Content: Related Content" field (soon to be known as "Other Content").

Barring that, we will make multiple views, each with a differe

[2016-12-08 14:00] jduffy2001 opened #266 "Make contact information and sidebar info appear last on mobile"
Users should see the "contact information" and "sidebar components" last when on their phones. This would be for article pages, how-tos, department profiles, posts, and initiative/program profile pages. This doesn't feel necessary for events and public notices.

We the current layout, users see basic information, followed by contact and sidebar info, and then components. This can make for a confus

[2016-12-08 15:52] reillyzlab commented on #263
See 1216 on spyglass

[2016-12-08 20:11] matthewcrist commented on #260
@hamhands I've added a section on setting up Acquia Dev Desktop.

[2016-12-08 20:11] #260 closed

[2016-12-08 20:12] hamhands commented on #260
Thanks @matthewcrist! 💯

[2016-12-08 21:08] reillyzlab opened #269 "Ensure User Profile Created When Hired"
**Goal:** As a user I want to be able to sign into the Hub on the first day of work.

**Acceptance Criteria:** As part of our user feed, we need to ensure that users (full-time employees) have a Hub profile set up on the first day that they start.

**Success Metric:** Zero full-time employees report issues with logging into the Hub due to a lack of a profile.

[2016-12-09 01:51] matthewcrist commented on #244
@asalsman the styles have the link bumping up against the avatar. Also, when on mobile, the tools link shouldn't be added to the main navigation as it causes tools to be there twice.

[2016-12-09 01:51] #128 closed

[2016-12-09 01:54] matthewcrist commented on #213
@asalsman please verify this on edit-stg.boston.gov. if working, move to acceptance queue and assign to @hackajesse.

[2016-12-09 01:54] matthewcrist commented on #215
@asalsman please verify this on edit-stg.boston.gov. if working, move to acceptance queue and assign to @hackajesse.

[2016-12-09 01:54] matthewcrist commented on #212
@asalsman please verify this on edit-stg.boston.gov. if working, move to acceptance queue and assign to @hackajesse.

[2016-12-09 01:55] #258 closed

[2016-12-12 01:04] matthewcrist commented on #269
@reillyzlab please test this. the HCM job had gotten stuck.

[2016-12-12 03:05] reillyzlab commented on #269
Closing b/c resolved. Thank you!

[2016-12-12 03:05] #269 closed

[2016-12-12 13:52] asalsman commented on #244
@matthewcrist Where can I see the display you're referring to? In all my local testing, this was displaying as intended.

[2016-12-12 14:50] asalsman commented on #213
Confirmed on edit-stg.

[2016-12-12 15:38] asalsman commented on #212
Changes are *NOT* on edit-stg. Looks like PR 231 was closed but never merged:
https://github.com/CityOfBoston/boston.gov/pull/231

@matthewcrist: Does it need to get re-opened or should I create a new PR?

[2016-12-12 15:58] reillyzlab commented on #182
Passed QA on Hub. Assigning to @hackajesse to check on Boston.gov

[2016-12-12 15:59] reillyzlab commented on #197
Passed QA on Hub. Reassigning to @hackajesse to check on boston.gov

[2016-12-12 18:44] hackajesse commented on #197
Passes boston.gov too. Closing

[2016-12-12 18:44] #197 closed

[2016-12-12 18:47] hackajesse commented on #182
Passes Boston.gov. Closing.

[2016-12-12 18:47] #182 closed

[2016-12-12 20:10] reillyzlab opened #274 "Add content types to Hub for emergency alert"
**Goal:** As a site administrator and emergency alert author I would like the ability to add status items and the emergency alert to the Hub.

**Acceptance Criteria:**

1. Status item content type is added to the Hub.
2. Emergency alert content type is added to the Hub.
3. Emergency alert can be added to the Hub on corresponding page types to boston.gov.

**Success Metrics:** Emergency alert used

[2016-12-12 20:37] reillyzlab opened #275 "Add Emergency Alert Author Role to Hub"
**Goal:**  As a site administrator of the Hub, I would like to allow other content contributors to add status items and the emergency alert to the Hub.

**Acceptance Criteria:**

- The emergency alert author role is added to the Hub.
- The emergency alert author role can be added to any applicable user profile, even if the user already has content role permissions.

**Success Metric:** Employee Co

[2016-12-12 21:51] hackajesse commented on #87
@matthewcrist did you say this would be Hub only per technical difficulty? I don't recall.

[2016-12-13 20:47] matthewcrist commented on #244
@asalsman try on edit-stg-hub.boston.gov

[2016-12-13 20:48] matthewcrist commented on #87
This is Hub only as Boston.gov doesn't have those profiles.

[2016-12-13 20:53] matthewcrist commented on #214
@asalsman your PR for this is on stg. can you test and send to acceptance?

[2016-12-13 20:54] matthewcrist opened #278 "Need to add site priority for Swifttype"

[2016-12-13 20:54] matthewcrist opened #279 "Need to hide accessibility links from being indexed by Swifttype"

[2016-12-14 15:51] asalsman commented on #214
This looks good on stg to me and is functioning as expected.

[2016-12-14 18:58] reillyzlab opened #281 "Ensure all users have avatar appear when logged in"
**Goal:** As a user of the Hub, I want it to be intuitive where I log out by always having my avatar show up.

**Acceptance Criteria:** All users have an avatar appear at all times even when an email and user name are entered.

**Success Metrics:**

- User X [ask Reilly for user number] is able to see their avatar when logged.
- Zero cases of the avatar not appearing are reported to Employee Conne

[2016-12-14 20:58] reillyzlab opened #282 "Revise OAM Redirect for Hub - From My Profile to Homepage"
**Goal:** As a authenticated user, I would like to be redirected to the Hub homepage [not My Profile] after I log in.

**Acceptance Criteria:** When an authenticated user logs into the Hub they are redirected to the Hub homepage rather than the My Profile page.

**Success Metric:** All authenticated traffic gets redirected to the Hub homepage rather than the My Profile page when they log into the

[2016-12-15 01:49] hackajesse commented on #203
Created separated out issues for this. Will reference from those issues. Closing.

[2016-12-15 01:49] #203 closed

[2016-12-15 01:50] hackajesse commented on #204
Creating new separated-out issues for this. Will reference from those issues. Closing.

[2016-12-15 01:50] #204 closed

[2016-12-15 01:51] hackajesse commented on #202
Creating separated-out issues from this one. Will reference from those. Closing.

[2016-12-15 01:51] #202 closed

[2016-12-15 01:59] hackajesse opened #284 "Related Content - Public Notices"
Related content fields in the CMS are non-functional except for the one titled "Related Content". There are opportunities for the other types of fields. This epic is a detail of that opportunity.

[2016-12-15 02:00] hackajesse opened #285 "Related Content - Events"
Related content fields in the CMS are non-functional except for the one titled "Related Content". There are opportunities for the other types of fields. This epic is a detail of that opportunity.

[2016-12-15 02:01] hackajesse opened #286 "Related Content - Posts"
Related content fields in the CMS are non-functional except for the one titled "Related Content". There are opportunities for the other types of fields. This is a detail of that opportunity.

- [ ] Tagging posts with a related content field
    When I tag a field in Related Content on {post} content type, it should display in the {NEWS\_ANNOUNCEMENTS} component of the associated node, assuming a c

[2016-12-15 02:02] hackajesse opened #287 "As a content author, I want to be able to add related departments to public notices"
## Acceptance Criteria

\* Content author can add related departments to public notices
\* Note that these departments are not the primary contact department

\* This should not be a required field

\* Allows for more than one department to be entered

[2016-12-15 02:02] hackajesse opened #288 "As a content author, I want to be able to add related neighborhoods to public notices."
## Acceptance Criteria

\* Content author can add related neighborhoods to public notices
\* Neighborhoods should be listed as checkboxes

\* Checkboxes should be in two-columns (confirm this is possible)

\* Allows for more than one neighborhood to be entered

[2016-12-15 02:02] hackajesse opened #289 "As a content author, I want to be able to add "other related content" to public notices"
## Acceptance Criteria

\* Content author can add related content that isn't covered in other related content fields to public notices

\* Allows for more than one relation to be entered

\* ~~Do not include How To content type~~

[2016-12-15 02:02] hackajesse opened #290 "As a content author, I want to be able to add related guides to public notices"
## Acceptance Criteria

\* Content author can add related guides to public notices

\* Allows for more than one guide to be entered

[2016-12-15 02:02] hackajesse opened #291 "As a content author, I want to be able to add related programs / initiatives to public notices"
## Acceptance Criteria

\* Content author can add related programs / initiatives to public notices

\* Allows for more than one program / initiative to be entered

[2016-12-15 02:02] hackajesse opened #292 "As a content author, I want to be able to add related posts to public notices"
## Acceptance Criteria

\* Content author can add related posts to public notices

\* Allows for more than one post to be entered

[2016-12-15 02:02] hackajesse opened #293 "As a content author, I want to be able to add related events or public notices to public notices"
## Acceptance Criteria

\* Content author can add related events and public notices to public notices
 \* Both should be add-able from the same field

\* Allows for more than one event and / or public notice to be entered

[2016-12-15 02:02] hackajesse opened #294 "As a content author, I want to be able to add related places to public notices"
## Acceptance Criteria

\* Content author can add related places to public notices
 \* Places only include cemeteries, parks, historic districts, and community centers

\* Allows for more than one place to be entered

[2016-12-15 02:02] hackajesse opened #295 "As a content author, I want to be able to add related people to public notices"
## Acceptance Criteria

\* Content editor can add related people to public notices

\* Allows for more than one person to be entered

[2016-12-15 02:02] hackajesse opened #296 "As a content author, I want to be able to add related departments to events"
## Acceptance Criteria

\* Content author can add related departments to events
\* Note that these departments are not the primary contact department

\* This should not be a required field

\* Allows for more than one department to be entered

[2016-12-15 02:02] hackajesse opened #297 "As a content author, I want to be able to add related neighborhoods to events."
## Acceptance Criteria

\* Content author can add related neighborhoods to events
\* Neighborhoods should be listed as checkboxes

\* Checkboxes should be in two-columns (confirm this is possible)

\* Allows for more than one neighborhood to be entered

[2016-12-15 02:02] hackajesse opened #298 "As a content author, I want to be able to add "other related content" to events"
## Acceptance Criteria

\* Content author can add related content that isn't covered in other related content fields to events

\* Allows for more than one relation to be entered

\* ~~Do not include How To content type~~

[2016-12-15 02:02] hackajesse opened #299 "As a content author, I want to be able to add related guides to events"
## Acceptance Criteria

\* Content author can add related guides to events

\* Allows for more than one guide to be entered

[2016-12-15 02:02] hackajesse opened #300 "As a content author, I want to be able to add related programs / initiatives to events"
## Acceptance Criteria

\* Content author can add related programs / initiatives to events

\* Allows for more than one program / initiative to be entered

[2016-12-15 02:02] hackajesse opened #301 "As a content author, I want to be able to add related posts to events"
## Acceptance Criteria

\* Content author can add related posts to events

\* Allows for more than one post to be entered

[2016-12-15 02:02] hackajesse opened #302 "As a content author, I want to be able to add related events or public notices to events"
## Acceptance Criteria

\* Content author can add related events and public notices to events
 \* Both should be add-able from the same field

\* Allows for more than one event and / or public notice to be entered

[2016-12-15 02:02] hackajesse opened #303 "As a content author, I want to be able to add related places to events"
## Acceptance Criteria

\* Content author can add related places to events
 \* Places only include cemeteries, parks, historic districts, and community centers

\* Allows for more than one place to be entered

[2016-12-15 02:02] hackajesse opened #304 "As a content author, I want to be able to add related people to events"
## Acceptance Criteria

\* Content editor can add related people to events

\* Allows for more than one person to be entered

[2016-12-15 02:02] hackajesse opened #305 "As a content author, I want to be able to add related departments to posts"
## Acceptance Criteria

\* Content author can add related departments to posts
\* Note that these departments are not the primary contact department

\* This should not be a required field

\* Allows for more than one department to be entered

[2016-12-15 02:02] hackajesse opened #306 "As a content author, I want to be able to add related neighborhoods to posts."
## Acceptance Criteria

\* Content author can add related neighborhoods to posts
\* Neighborhoods should be listed as checkboxes

\* Checkboxes should be in two-columns (confirm this is possible)

\* Allows for more than one neighborhood to be entered

[2016-12-15 02:03] hackajesse opened #307 "As a content author, I want to be able to add "other related content" to posts"
## Acceptance Criteria

\* Content author can add related content that isn't covered in other related content fields to posts

\* Allows for more than one relation to be entered

\* ~~Do not include How To content type~~

[2016-12-15 02:03] hackajesse opened #308 "As a content author, I want to be able to add related guides to posts"
## Acceptance Criteria

\* Content author can add related guides to posts

\* Allows for more than one guide to be entered

[2016-12-15 02:03] hackajesse opened #309 "As a content author, I want to be able to add related programs / initiatives to posts"
## Acceptance Criteria

\* Content author can add related programs / initiatives to posts

\* Allows for more than one program / initiative to be entered

[2016-12-15 02:03] hackajesse opened #310 "As a content author, I want to be able to add related posts to posts"
## Acceptance Criteria

\* Content author can add related posts to posts

\* Allows for more than one post to be entered

[2016-12-15 02:03] hackajesse opened #311 "As a content author, I want to be able to add related events or public notices to posts"
## Acceptance Criteria

\* Content author can add related events and public notices to posts
 \* Both should be add-able from the same field

\* Allows for more than one event and / or public notice to be entered

[2016-12-15 02:03] hackajesse opened #312 "As a content author, I want to be able to add related places to posts"
## Acceptance Criteria

\* Content author can add related places to posts
 \* Places only include cemeteries, parks, historic districts, and community centers

\* Allows for more than one place to be entered

[2016-12-15 02:03] hackajesse opened #313 "As a content author, I want to be able to add related people to posts"
## Acceptance Criteria

\* Content editor can add related people to events

\* Allows for more than one person to be entered

[2016-12-15 02:06] hackajesse commented on #285
Replaces #203

[2016-12-15 02:06] hackajesse commented on #284
Replaces #202

[2016-12-15 02:07] hackajesse commented on #286
Replaces #204

[2016-12-15 02:07] hackajesse opened #314 "posts"

[2016-12-15 15:08] matthewcrist commented on #314
@hackajesse ?

[2016-12-15 15:11] hackajesse commented on #314
@matthewcrist this was an accidental issue created while I was creating epics. Closing.

[2016-12-15 15:11] #314 closed

[2016-12-15 15:20] matthewcrist commented on #274
Estimated 3 for getting content type over and 8 for styling

[2016-12-15 18:38] hackajesse opened #315 "As a website viewer, I want to be able to see public notices related to specific content in that content's Upcoming Events component."
Acceptance Criteria:

- When I tag a field in Related Content on a public notice or event content type, it should display in the {UPCOMING\_EVENTS} component of the associated node, assuming a content creator has already created such a component on that node.
- Cards are mobile responsive
- It's possible for a featured item to be either a public notice or an event
- If a featured item is a public

[2016-12-15 18:58] hackajesse opened #316 "As a website viewer, I want to be able to see events related to specific content in that content's Upcoming Events component."

[2016-12-15 19:03] hackajesse commented on #316
Closing. Duplicate #315

[2016-12-15 19:03] #316 closed

[2016-12-15 19:06] sebastianebarb commented on #315
https://drive.google.com/open?id=0B0RwQU94BhGeU3BOUVE3UEtibk0 @hackajesse

[2016-12-16 17:26] matthewcrist opened #320 "Create public notice form page"

[2016-12-16 17:28] #320 closed

[2016-12-16 17:59] matthewcrist opened #321 "Search Testing"

[2016-12-16 18:20] lflockwood commented on #321
Search algorithm seems off for some things. I typed "cold" and got the following:
![image](https://cloud.githubusercontent.com/assets/20707572/21273605/5f39e386-c392-11e6-88e5-345c669e15b3.png)

[2016-12-16 18:46] lflockwood commented on #321
Some results show the page type and others don't seem to (see screenshot below). Also, is there a way to filter results? Eg by pdfs or page types?

![image](https://cloud.githubusercontent.com/assets/20707572/21274407/0f1517d2-c396-11e6-92d2-fc11c57d00b6.png)

[2016-12-16 18:48] reillyzlab commented on #321
1) Search pagination for words 'next' and 'previous' don't have hover state. Should it?

2) Some of the news have a 'news' tag and some do not. When I search for 'digital team' the first press release that appears is on cityofboston.gov and does not include the news tag. I call this out because this was confusing to me why some news did and and some news didn't the tag. If we can't add tag, can we

[2016-12-16 19:14] matthewcrist commented on #321
@lflockwood & @reillyzlab there's a bug where the type isn't showing for some Boston.gov items, but for CityOfBoston.gov items there won't be a type (unless we edit those pages). Is that too confusing?

[2016-12-16 20:08] reillyzlab commented on #321
@matthewcrist completely makes sense, but wanted to flag in case we'd consider some point of clarification (statement at end?) so users don't get confused on why some do and some don't but I could just very well be overthinking it

[2016-12-16 20:10] matthewcrist commented on #321
@reillyzlab we could have a "type" for cityofboston.gov results, like "archived" or "old"

[2016-12-19 13:47] jduffy2001 opened #322 "Secondary navigation on initiative/profile pages and department pages"
We need secondary navigation on initiative/profile and department page content types. Ideally, they'd mirror what [we did for article pages](boston.gov/cold). We also have secondary navigation [on our guide pages](https://www.boston.gov/guides).

[2016-12-20 19:40] matthewcrist commented on #321
@lflockwood and @reillyzlab i pushed an update with filtering, some fixes to the bugs @reillyzlab saw, and have tweaked the algorithm a little. take a look and let me know if you see anything glaring.

[2016-12-20 19:43] matthewcrist commented on #321
there will be a slight delay for all the types to appear in the search as it's awaiting a reindex

[2016-12-21 15:29] #278 closed

[2016-12-21 15:29] #279 closed

[2016-12-22 14:53] matthewcrist commented on #262
Here's how we're going to implement this. We will use this module https://www.drupal.org/project/keyboard_shortcut. That module will get us keyboard shortcuts that are editable by an admin. It allows us to link to pages or use JS functions. Once installed, we need:

 * Ability to define roles on keyboard shortcuts
 * Ability for anonymous, logged out users to use shortcuts (the module only uses lo

[2016-12-22 15:32] sebastianebarb commented on #66
@hackajesse next steps?

[2016-12-22 15:38] hackajesse commented on #66
@sebastianebarb the comps are slightly different in that they display the list of links for the guide. Just want to have that detail attached to this story.

[2016-12-22 16:00] sebastianebarb commented on #66
![featured guides component](https://cloud.githubusercontent.com/assets/20642299/21431568/caf1ce84-c835-11e6-9540-ba3dabbc5ca7.png) @hackajesse

[2016-12-22 20:18] matthewcrist commented on #216
@asalsman is this done?

[2016-12-22 20:19] matthewcrist commented on #212
@asalsman this should be on stg now. please test. if there, move to acceptance and assign to jesse

[2016-12-22 20:19] matthewcrist commented on #215
@asalsman please verify this on edit-stg.boston.gov. if working, move to acceptance queue and assign to @hackajesse.

[2016-12-22 20:33] matthewcrist commented on #255
This is on stg.

[2016-12-22 20:34] matthewcrist commented on #255
This is on staging.

[2016-12-22 20:35] matthewcrist commented on #183
This is on staging.

[2016-12-23 17:21] hackajesse commented on #183
Sending back to Ready column.
On staging:
Cost entry field is not required in the CMS and accordingly [does not display](https://edit-stg.boston.gov/calendar/city-hall-go-cart-hyde-park-0) on every event. While it does display if the content author enters a cost, if there's nothing in that field, there's nothing on the event page.

Default to an event being "Free" if not changed in the CMS.

[2016-12-23 17:27] hackajesse commented on #214
@asalsman can you clarify why Live Stream shows on the event content type still? Is that necessary for the JS to function? Or is this an oversight?

![live-stream-event](https://cloud.githubusercontent.com/assets/3886936/21459299/03151192-c90b-11e6-9322-5766648b648c.PNG)

[2016-12-23 17:47] hackajesse commented on #213
Well done, @asalsman. Thanks! Assigning to @matthewcrist to confirm it makes it into the release.

[2016-12-27 15:13] jimafisk commented on #262
@matthewcrist I rolled a patch that should take care of the first 2 bullets (define roles per binding & allow anonymous users to execute shortcuts): https://www.drupal.org/node/2839535

I'll start looking into dynamically loading js. I think we'll need to do an access check in keyboard_shortcut_init() of keyboard_shortcut.module.

I've performed the testing steps above and everything looks good as

[2016-12-27 17:24] jimafisk commented on #262
New patch dynamically loads js: https://www.drupal.org/node/2839535#comment-11843362 If no shortcuts exist for user's role, browser does not load library.

Ran through Matt's testing scenarios and it checks out on my end. Much appreciated if someone else could confirm. Thank you!

[2016-12-29 15:18] hackajesse opened #332 "Live stream video doesn't count down"
Video live stream components do not show the countdown to the live stream event start time. They only show the Play button, which doesn't (and shouldn't) function prior to the live stream start time.

[2016-12-29 20:24] sebastianebarb commented on #70
![was this helpful](https://cloud.githubusercontent.com/assets/20642299/21554082/a683b652-cdda-11e6-947b-98b1be1d52b4.png)
https://drive.google.com/open?id=0B0RwQU94BhGeRXZ5T1hCV1dwUGM

[2017-01-03 14:54] asalsman commented on #214
That shouldn't be there. And wasn't there on either my local or on edit-stg. I'm not certain how that is actually there. I may need to look at @matthewcrist for some thoughts.

[2017-01-03 15:09] #213 closed

[2017-01-03 16:10] matthewcrist commented on #214
@asalsman the field needs to get added to a vertical tab group and then the feature needs to be re-exported.

[2017-01-03 16:36] reillyzlab commented on #262
Re-opening to make sure I remember to test in QA.

[2017-01-04 15:36] hackajesse commented on #216
@asalsman let's clean up this component a bit. Please keep the Department auto-populate and rename "Department credit". Please ditch the "Video Credit" and associated field since they don't do anything.

Screenshot taken from staging.

![video-department-credit](https://cloud.githubusercontent.com/assets/3886936/21647800/b2394eba-d269-11e6-8476-12bb5956b223.PNG)

[2017-01-04 15:41] hackajesse commented on #215
At this point, countdown doesn't work on staging or production. Moving back to in-progress.

[2017-01-04 16:06] hackajesse commented on #205
Thanks, @sebastianebarb. Closing this issue and opening a new one for the tech part.

[2017-01-04 16:06] #205 closed

[2017-01-04 17:27] hackajesse opened #334 "Events component should pull in Public Notices"
A public notice content type tagged with any related content should show up in the events component on the specified related content node(s).

- [x] Be mobile responsive - just like an event card
- [ ] It's possible for a featured item to be either a public notice or an event
- [x] If a featured item is a public notice, the call to action button should read "Notice details"
    Reference  #117

-

[2017-01-04 17:27] hackajesse opened #335 "Public notices should display as in the comp inside an events component"
Should be able to display public notices from any list type (upcoming\_events - Related Events and Upcoming Events).

[2017-01-04 17:27] hackajesse opened #336 "Be mobile responsive - just like an event card"

[2017-01-04 17:28] hackajesse opened #337 "Featured item can be either an event or a public notice"

[2017-01-04 17:28] hackajesse opened #338 "Featured public notices shouldn't appear in the list below"
Reference  #117

[2017-01-04 17:28] hackajesse opened #339 "Public notices and events are integrated and ordered in date descending"
Date nearest to the current date should appear in top left, then top right, then bottom left, then bottom right.

[2017-01-04 17:28] hackajesse opened #340 "CTA on Public Notices should read "Notice details""
Font styling per the comp (Montserrat)

[2017-01-04 17:31] hackajesse commented on #336
Bogus Aha send. Closing

[2017-01-04 17:31] #336 closed

[2017-01-04 17:31] hackajesse commented on #338
Bogus Aha send. Closing

[2017-01-04 17:31] #338 closed

[2017-01-04 17:31] #339 closed

[2017-01-04 17:31] hackajesse commented on #340
Bogus Aha send. Closing

[2017-01-04 17:31] #340 closed

[2017-01-04 17:32] hackajesse commented on #337
Bogus Aha send. Closing

[2017-01-04 17:32] #337 closed

[2017-01-04 17:34] hackajesse commented on #334
@jimafisk @asalsman @matthewcrist can you give this a review and ask any questions you might have?

[2017-01-04 17:35] hackajesse commented on #334
This is a dev follow up issue to #205

[2017-01-04 21:36] hackajesse commented on #63
Ended up doing Swiftype. Closing this issue.

[2017-01-04 21:36] #63 closed

[2017-01-04 21:44] hackajesse commented on #254
Aha weird sync issue. Closing.

[2017-01-04 21:44] #254 closed

[2017-01-06 19:03] reillyzlab commented on #282
@matthewcrist https://www.drupal.org/project/logintoboggan

[2017-01-06 20:26] #321 closed

[2017-01-06 20:36] reillyzlab commented on #282
Other potential work arounds via christina:

However, that might be overkill for this purpose; you should also check out Login Destination: https://www.drupal.org/project/login_destination . This could also be accomplished through a small code snippet if you're comfortable with that: http://www.jeffgeerling.com/blogs/jeff-geerling/how-redirect-user-after-login . You'd probably want to check out th

[2017-01-06 21:13] reillyzlab opened #353 "Users with Google Image Don't Have Image or Avatar Appear"
**Goal:**

As an authenticated user, I want to see my Google image appear if I have one entered into Google. If I do not have a Google image, then the general avatar should appaer.

**Background:**

There is a bug so that some people who do have a Google image don't see their image come through. However, when this happens the general avatar does not appear and the area where the user image/avatar

[2017-01-06 21:37] hackajesse commented on #36
Moved to Aha for grooming. Closing.

[2017-01-06 21:37] #36 closed

[2017-01-06 21:45] hackajesse commented on #334
This is a duplicate of #315 . Closing.

[2017-01-06 22:11] hackajesse commented on #334
Taking the place of #315

[2017-01-06 22:11] hackajesse commented on #315
Duplicate of #334. Closing.

[2017-01-06 22:11] #315 closed

[2017-01-09 14:47] asalsman opened #355 "Remove patch number for linkit in make.yml"
It's breaking the build now that the patch has been rolled in to the main stable build.

[2017-01-09 17:25] asalsman commented on #214
@matthewcrist The live stream field is no longer associated with events, but with videos. But despite deleting it via the UI (at this point it disappears), exporting it, committing it, and running build:local (at this point, it reappears), it persists. I did try adding it to a vertical group before deleting it and running build:local through those steps, but no love. Very confused.

[2017-01-09 17:45] asalsman commented on #212
When live stream was on the event, the data was able to pass through to the calendar front. Now that it's not, the data isn't either. Going to need to revisit this.

[2017-01-09 17:45] asalsman commented on #332
I see this properly on edit-stg. Passing to @hackajesse

[2017-01-09 18:16] asalsman commented on #244
Didn't have a user icon showing up for me locally before. I have it now and a fix about to be committed.

[2017-01-09 18:17] hackajesse commented on #332
Looks good. Cleared for production.

[2017-01-09 18:18] hackajesse commented on #332
@matthewcrist this is good on staging. Assigning to you for the prod push.

[2017-01-09 19:14] jduffy2001 opened #359 "Schedule publishing for emergency alerts"
As a user, I want to be able to schedule the publishing of emergency alerts on the website. At this time, I can't schedule publishing, as I can with department pages and article pages.

[2017-01-09 19:47] asalsman commented on #212
Turns out we do something similar to what I had in mind on topic pages where we go, get the components, get some data off of them, and set them to variables on the topic pages in boston_preprocess_node_topic_page();

Stands to reason that I can do the same thing for an event page and then have that data available to the event that gets passed to the calendar. Going to start playing with it now tha

[2017-01-09 20:16] #355 closed

[2017-01-09 20:17] #332 closed

[2017-01-09 20:19] matthewcrist commented on #214
@asalsman you need to create a hook in bos_core to delete the field ... something like

[code]

[2017-01-10 01:27] hackajesse commented on #117
Added to Aha. Will manage from there. Closing here.

[2017-01-10 01:27] #117 closed

[2017-01-10 01:33] hackajesse opened #360 "Make featured events disappear after they happen (on events component)"
As a website viewer, I shouldn't see a featured event on an events component duplicated among the non-featured events.

As a website viewer, I shouldn't see a featured event in the events component if the day of that event has passed.

- [x] A content author can make an event featured on an Events component
- [x] A content author can remove an event from being featured on an Events component
- [x]

[2017-01-10 01:36] hackajesse opened #361 "Make featured public notices disappear after they happen (on events component)"
As a website viewer, I shouldn't see a featured public notice on an events component duplicated among the non-featured event cards.

As a website viewer, I shouldn't see a featured public notice in the events component if the day of that event has passed.

- [ ] A content author can make a public notice featured on an Events component
- [ ] A content author can remove a public notice from being fe

[2017-01-10 02:18] hackajesse commented on #263
@jduffy2001 How do you feel about [this example page](https://edit.boston.gov/public-notices/13096)?

[2017-01-10 02:27] hackajesse opened #362 "Remove rapid scroll from secondary navigation anchors"
As a website viewer, I want to be able to click on any anchor or secondary navigation and have the page load to that point.

As a website viewer, I want to avoid motion sickness at all costs, and rapid scrolling does that to me.

User quote: _"I love the design overall, but when I experienced the "Rapid" scroll, my first thought was "whoa", that's cool. However, if I were someone who is prone to e

[2017-01-10 15:56] matthewcrist commented on #282
This is blocked by being unable to login locally.

[2017-01-10 16:06] hackajesse commented on #304
checked on staging

[2017-01-10 16:10] hackajesse commented on #300
Checked.

[2017-01-10 16:14] hackajesse commented on #302
Checked.

[2017-01-10 16:16] hackajesse commented on #301
Checked.

[2017-01-10 16:17] hackajesse commented on #299
Checked

[2017-01-10 17:43] asalsman commented on #287
Department field exists. But it is currently a required field. That may be a requirement based on how it was constructed? Before nixxing that part (the required), I want to talk to @matthewcrist

[2017-01-10 17:45] asalsman commented on #288
We need to talk with @jimafisk and @matthewcrist. I can switch this to places, as we discussed doing across the board, but that will still involve the breakout work that we discussed last week and how to map old data to new data.

[2017-01-10 18:07] matthewcrist commented on #160
After talking with Jesse, here's what has changed:

 * On events, the filter starts with today and ends three months from now. We've limited the number of results to 30 per page.
 * On news, the filters remain blank and we've changed the number per page to 30.

[2017-01-10 18:18] asalsman commented on #287
After talking with @hackajesse, we're just going to leave it as is for now.

[2017-01-10 20:32] hackajesse commented on #304
Copy change for this related content item:
"People" becomes "Related people" (note lower case people)

[2017-01-10 20:37] matthewcrist commented on #240
Moving this to the backlog until the City's new network can support.

[2017-01-10 21:05] hackajesse commented on #298
Copy change for this related content item:
"Related Content" becomes "Other related content" (note lower case).
Help text copy change:
"What other content is relevant to this event?"

Content types available for this field should **only** include: Article, How Tos (now included!), Landing Page, and Script Page.

This is currently required and should not be required.

[2017-01-10 21:28] hackajesse commented on #303
Copy change for this related content item:
"Places" becomes "Related places" (note lower case).
Help text copy change:
"Are any cemeteries, parks, historic districts, or community centers relevant for this event?"

[2017-01-10 21:33] hackajesse commented on #296
Assuming the Contact / Department field on the Basic Information tab is able to act as a related content field...
Copy change for this related content item:
"Departments" becomes "Other related departments" (note lower case).
Help text copy change:
"Which other departments are relevant for this event?"

If the Contact / Department field on the Basic Information tab **_cannot_** act as a related co

[2017-01-10 21:34] hackajesse commented on #302
Copy change for this related content item:
"Events/Public Notices" becomes "Related events / public notices" (note lower case and spacing).
Help text copy change:
"Which other events or public notices are relevant for this event?"
Not required.

[2017-01-10 21:35] hackajesse commented on #299
Copy change for this related content item:
"Guides" becomes "Related guides" (note lower case).
Help text copy change:
"Which guides are relevant for this event?"

[2017-01-10 21:36] hackajesse commented on #301
Copy change for this related content item:
"Posts" becomes "Related posts" (note lower case).
Help text copy change:
"Which press releases or blog posts are relevant for this event?"
Not required.

[2017-01-10 21:37] hackajesse commented on #300
Copy change for this related content item:
"Programs/Initiatives" becomes "Related programs / initiatives" (note lower case and spacing).
Help text copy change:
"Which programs or initiatives are relevant for this event?"
Not required.

[2017-01-10 21:40] hackajesse commented on #297
Copy for this related content item:
"Related neighborhoods" (note lower case).
Help text copy change:
"Which neighborhoods are relevant for this event?"

Can the checkboxes be listed in two columns, alphabetical order decending, top to bottom, left column to right column?

REQUIRED FIELD.

[2017-01-10 21:43] hackajesse commented on #306
Copy for this related content item:
"Related neighborhoods" (note lower case).
Help text copy change:
"Which neighborhoods are relevant for this post?"

Can the checkboxes be listed in two columns, alphabetical order decending, top to bottom, left column to right column?

[2017-01-10 21:49] hackajesse commented on #305
Assuming the Contact field on the Basic Information tab is able to act as a related content field...
Copy change for this related content item:
"Departments" becomes "Other related departments" (note lower case).
Help text copy change:
"Which other departments are relevant for this post?"
**The field should not be required.**

If the Contact field on the Basic Information tab **_cannot_** act as a

[2017-01-10 21:50] hackajesse commented on #311
Copy change for this related content item:
"Events/Public Notices" becomes "Related events / public notices" (note lower case and spacing).
Help text copy change:
"Which other events or public notices are relevant for this post?"
Not required.

[2017-01-10 21:51] hackajesse commented on #308
Copy change for this related content item:
"Guides" becomes "Related guides" (note lower case).
Help text copy change:
"Which guides are relevant for this post?"
Not required.

[2017-01-10 21:51] hackajesse commented on #313
Copy change for this related content item:
"People" becomes "Related people" (note lower case).
Help text copy change:
"Which people are relevant for this post?"
Not a required field.

[2017-01-10 21:52] hackajesse commented on #312
Copy change for this related content item:
"Places" becomes "Related places" (note lower case).
Help text copy change:
"Are any cemeteries, parks, historic districts, or community centers relevant for this post?"
Not required.

[2017-01-10 21:53] hackajesse commented on #310
Copy change for this related content item:
"Posts" becomes "Related posts" (note lower case).
Help text copy change:
"Which other press releases or blog posts are relevant for this post?"
Not required.

[2017-01-10 21:53] hackajesse commented on #309
Copy change for this related content item:
"Programs/Initiatives" becomes "Related programs / initiatives" (note lower case and spacing).
Help text copy change:
"Which programs or initiatives are relevant for this post?"
Not required.

[2017-01-10 21:55] hackajesse commented on #307
Copy change for this related content item:
"Related Content" becomes "Other related content" (note lower case).
Help text copy change:
"Which articles, how tos, and / or other content are relevant for this post?"

Content types available for this field should only include: Article, How Tos (now included!), Landing Page, and Script Page.

Not required.

[2017-01-10 21:57] hackajesse commented on #288
Would like this to be a broken out version of places and neighborhoods, all ultimately being a Places related content.

Copy for this related content item:
"Related neighborhoods" (note lower case).
Help text copy change:
"Which neighborhoods are relevant for this public notice?"

Can the checkboxes be listed in two columns, alphabetical order descending, top to bottom, left column to right column

[2017-01-10 21:59] hackajesse commented on #287
Assuming the Department field on the Basic Information tab is able to act as a related content field...
Copy change for this related content item:
"Departments" becomes "Other related departments" (note lower case).
Help text copy change:
"Which other departments are relevant for this public notice?"
**The field should not be required.**

If the Department field on the Basic Information tab **_can

[2017-01-10 22:00] hackajesse commented on #293
Copy change for this related content item:
"Events/Public Notices" becomes "Related events / public notices" (note lower case and spacing).
Help text copy change:
"Which other events or public notices are relevant for this public notice?"
Not required.

[2017-01-10 22:01] hackajesse commented on #290
Copy change for this related content item:
"Guides" becomes "Related guides" (note lower case).
Help text copy change:
"Which guides are relevant for this public notice?"
Not required.

[2017-01-10 22:01] hackajesse commented on #295
Copy change for this related content item:
"People" becomes "Related people" (note lower case).
Help text copy change:
"Which people are relevant for this public notice?"
Not a required field.

[2017-01-10 22:02] hackajesse commented on #294
Copy change for this related content item:
"Place" becomes "Related places" (note lower case and plural).
Help text copy change:
"Are any cemeteries, parks, historic districts, or community centers relevant for this public notice?"
Not required.

[2017-01-10 22:02] hackajesse commented on #292
Copy change for this related content item:
"Posts" becomes "Related posts" (note lower case).
Help text copy change:
"Which press releases or blog posts are relevant for this public notice?"
Not required.

[2017-01-10 22:03] hackajesse commented on #291
Copy change for this related content item:
"Programs/Initiatives" becomes "Related programs / initiatives" (note lower case and spacing).
Help text copy change:
"Which programs or initiatives are relevant for this public notice?"
Not required.

[2017-01-10 22:03] hackajesse commented on #289
Copy change for this related content item:
"Related Content" becomes "Other related content" (note lower case).
Help text copy change:
"Which articles, how tos, and / or other content are relevant for this public notice?"

Content types available for this field should only include: Article, How Tos (now included!), Landing Page, and Script Page.

Not required.

[2017-01-12 16:57] joshuagee opened #375 "iframe failure error message"
I am a user and would like to see an error message if an iframed form is down to help me know what is going on.

Earlier this week SeamlessDocs went down, and all of our forms site-wide broke. This left a bunch of pages with just a header. It would be great if we could have an automatically generated error message when this happens. As we embed other things, like Salesforce, directly into the site

[2017-01-12 18:49] #281 closed

[2017-01-12 20:57] hackajesse commented on #360
Need to add when the card disappears.

[2017-01-12 20:57] hackajesse commented on #361
Need to add when the card disappears.

[2017-01-13 18:12] jduffy2001 opened #379 "Change address help text on public notice"
We have "1 City Hall Plaza." Could we please change that to "1 City Hall Square" on our public notices?

![image](https://cloud.githubusercontent.com/assets/7929556/21940334/df9e1d98-d991-11e6-9d0d-e48f1ba1f4a2.png)

[2017-01-17 17:57] asalsman commented on #334
I feel like this should be two discrete issues:
1) Allow Public Notices to be returned in with Events in collections
2) User-facing display implications of allowing Public Notices to be included in lists.

The second is obviously dependent upon the first, but still.

In my experience, any ticket that comes in larger than an 8 needs to be broken down into more focused subtasks.

My $0.02.

[2017-01-18 14:30] matthewcrist opened #380 "Bring tabbed-content content type over from hub"
Content creators should be able to create tabbed content pages. This should work just like tabbed content pages in The Hub.

[2017-01-18 14:31] matthewcrist opened #381 "Create grid of cards component"
Content creators need to be able to create a grid of cards component. This component should be based off of the current grid of places component.

- [x] Content creators can add grid of cards component to any content type that accepts components
- [x] Content creator can add any number of cards to the component
- [x] Content creator can add title (optional), short title (required), and contact (op

[2017-01-18 14:32] matthewcrist opened #382 "Create budget table component"

[2017-01-18 14:41] asalsman commented on #334
@hackajesse : Currently, Featured Items on the Upcoming Events component include Events and Posts. Adding Public Notices is trivial, but are Posts supposed to remain?

[2017-01-18 15:03] reillyzlab commented on #262
@matthewcrist @jimafisk not working for 'anonymous' users (i.e. when not authenticated).

[2017-01-18 15:46] asalsman commented on #334
@hackajesse: The attached icon for public notices doesn't match the style on public/hub with dark background and lighter accents as is seen for events or in the attached comp. I also don't see one anywhere on the file system. Is that discrepancy a feature or bug?

Public: https://www.boston.gov/sites/all/themes/custom/boston_public/src/img/news-default-thumb.svg
Hub: https://www.boston.gov/sites/a

[2017-01-18 15:50] hackajesse commented on #334
@asalsman does [this](https://drive.google.com/open?id=0B0RwQU94BhGeU3BOUVE3UEtibk0) work for you? Assuming you'd create a dark background and overlay the icon over it. However, if that's not the case and you need a dark background icon from @sebastianebarb, let us know asap.

[2017-01-18 16:08] matthewcrist opened #383 "grid of images"

[2017-01-18 16:09] #383 closed

[2017-01-18 16:09] matthewcrist opened #384 "table"

[2017-01-18 16:10] matthewcrist commented on #74
We removed the accessibility toolbar.

[2017-01-18 16:10] #74 closed

[2017-01-18 16:10] #384 closed

[2017-01-18 16:12] matthewcrist opened #385 "Budget"
Issues for getting the budget online.

[2017-01-18 16:57] matthewcrist commented on #385
@hackajesse i started in on the issues for the Budget to get Jim going. Please review and add/edit as necessary.

[2017-01-18 17:20] sebastianebarb commented on #334
https://drive.google.com/open?id=0B0RwQU94BhGeZkhuZC01MUFHT1k @asalsman

[2017-01-18 19:51] asalsman commented on #334
Done:
- Mobile responsiveness is inherited from existing upcoming event display. Small code change/addition because Public Notices have a different date field.
- Featured Public Notice now has a "Notice Details" button instead of an "Event Details" one.
- Public Notices are rendering with Events in proper chronological order.
- "See All" button functionality remains unchanged per spec.
- Hover sta

[2017-01-18 19:57] reillyzlab commented on #375
@jduffy2001 can you help craft/draft a message for this?

[2017-01-18 20:32] jduffy2001 commented on #375
We're having trouble with our forms at this time, so we can't process your request. We're working to address the issue, though, and will update this page as soon as we have a fix.

If you have any questions or concerns, please email feedback@boston.gov.

[2017-01-18 20:33] jduffy2001 commented on #375
@joshuagee @reillyzlab See the sample text above. Not sure what the length should be, but I think that works.

[2017-01-18 20:47] jduffy2001 commented on #322
Could also see this being useful on posts.

[2017-01-18 21:18] reillyzlab opened #388 "Add Press Release Editor Role to Hub"
**Goal:**  As a site administrator of the Hub, I would like to allow select content contributors to add and publish posts on their own.

**Acceptance Criteria:**

- The press release editor role is added to the Hub.
- The press release editor role can be added to any applicable user profile, even if the user already has content role permissions.

**Success Metric:**  Select individuals add and pub

[2017-01-18 21:20] reillyzlab opened #389 "Add Events Editor Role to Hub"
**Goal:**  As a site administrator of the Hub, I would like to allow select content contributors to add and publish events on their own.

**Acceptance Criteria:**

- The events editor role is added to the Hub.
- The events editor role can be added to any applicable user profile, even if the user already has content role permissions.

**Success Metric:**  Select individuals add and publish their ow

[2017-01-18 21:36] reillyzlab commented on #266
This would also apply to tabbed pages.

[2017-01-19 17:00] matthewcrist commented on #150
This is blocked until #14 is done. Removing the tabs is easy, but the styling to handle the removed tab case needs to be done along side #14.

[2017-01-19 17:42] reillyzlab opened #391 "Events Disappear on Events Component Upon Start of Event Date/Time"
**Goal:** As an anonymous user, I would like to view events that are upcoming or have just recently started.

**Acceptance Criteria:** Logic that exists for public notices is replicated so that display timing for events on events component stay present for a short while after the begin.

**Background:** Non-featured events disappear from the events component as soon as the event date/time begins.

[2017-01-19 17:44] reillyzlab commented on #391
@matthewcrist james mentioned that you all implemented something along the lines for this for public notices so that's why the above is written how it is written. Tried searching for a previous ticket to create a better informed ticket from the onset but couldn't find. Happy to edit the ticket if you can direct me to a relevant ticket, or if you can just provide more info in general.

[2017-01-20 14:15] hackajesse commented on #160
Looks good to me for Boston.gov. @reillyzlab for the Hub?

[2017-01-20 14:30] #282 closed

[2017-01-20 16:10] #244 closed

[2017-01-20 16:15] reillyzlab commented on #160
good on Hub too so closing

[2017-01-20 16:15] #160 closed

[2017-01-20 18:46] hackajesse opened #395 "Bring tabbed-content content type over from Hub"
Content creators should be able to create tabbed content pages. This should work just like tabbed content pages in The Hub.

- [x] Use Boston.gov How To content type coloring
    Instead of the existing Hub coloring

- [x] Content type should be able to have any type of component added to it
- [x] Content type should not have a related content field
- [x] Content type should have the same sidebar

[2017-01-20 18:54] hackajesse opened #396 "Create "Grid of Cards" component"
As a content creator, I want to have a component that displays an image and summary content and links off to other pages.

Tip: Use the "group of links - grid" component as a model for a component that doesn't use views.

Acceptance criteria are the checkbox requirements below:

- [x] Content creators can add grid of cards component to any content type that accepts components
- [x] Content creator

[2017-01-20 18:55] hackajesse commented on #381
Closing. Replaced by #396

[2017-01-20 18:55] #381 closed

[2017-01-20 18:57] hackajesse commented on #380
Replaced by #395 - closing.

[2017-01-20 18:57] #380 closed

[2017-01-22 00:49] jimafisk commented on #288
Related PR: https://github.com/CityOfBoston/boston.gov/pull/392

* Only works for events, need to abstract to Public Notices
* Field label change from "Neighborhoods" to Related neighborhoods"
* Require at least one neighborhood is checked off

[2017-01-24 13:49] asalsman commented on #212
I'll leave final confirmation of this for when @hackajesse is back in the office, but this is working properly now on dev and stg. Everything should have been cleared up in a patch that went up two weeks back.

[2017-01-24 14:06] asalsman commented on #215
I'll leave final confirmation of this for when @hackajesse is back in the office, but this is working properly now on dev and stg. Everything should have been cleared up in a patch that went up two weeks back.

[2017-01-24 15:20] jduffy2001 opened #403 "Spacing issue on smaller mobile devices for public notices"
We noticed an issue where the title of the fields is hovering over the text on the [public notices page](https://www.boston.gov/public-notices).

![image](https://cloud.githubusercontent.com/assets/7929556/22253170/8ffd97e2-e21e-11e6-956d-be9c004bcba6.png)

The screen shot is from an iPhone SE device. Screen size for this device is 1136 x 640.

[2017-01-24 18:51] asalsman commented on #360
BTW: Once issue #334, the deduping functionality will be available.

[2017-01-24 18:51] asalsman commented on #361
BTW: Once issue #334, the deduping functionality will be available.

[2017-01-25 14:18] matthewcrist commented on #306
This will need to be one column.

@asalsman we should use @jimafisk's places / neighborhoods filed here.

[2017-01-25 14:19] matthewcrist commented on #312
@asalsman this should use the places / neighborhoods field from @jimafisk

[2017-01-25 14:22] matthewcrist commented on #288
@asalsman & @jimafisk this should be the same field as events

[2017-01-25 14:25] matthewcrist commented on #290
@asalsman i'm not seeing related guides in staging

[2017-01-25 14:30] matthewcrist commented on #308
@asalsman i'm not seeing related guides on posts

[2017-01-25 14:32] matthewcrist commented on #299
@asalsman i'm not seeing related guides on events

[2017-01-25 18:19] asalsman commented on #288
**Important note:** As this goes to production, Each place that is a neighborhood will need to have the "Is a Neighborhood?" box checked and published.

This box can be found at the bottom of the basic information tab on place profiles.

[2017-01-25 18:35] asalsman commented on #288
Because of the current loss of data we'd get out of killing field_multiple_neighborhoods, we are *NOT* moving Public Notices (yet) over to the jim-created places/neighborhood breakout.

[2017-01-25 18:35] asalsman commented on #312
Important note: As this goes to production, Each place that is a neighborhood will need to have the "Is a Neighborhood?" box checked and published.

This box can be found at the bottom of the basic information tab on place profiles.

[2017-01-26 19:39] asalsman commented on #360
Just finished testing. Everything works as expected, based on reqs in this issue.

[2017-01-26 19:39] asalsman commented on #361
Just finished testing. Everything works as expected, based on reqs in this issue.

[2017-01-26 20:37] reillyzlab commented on #275
@matthewcrist I'm able to give someone the status alert editor role, but when I try to log in as someone with this role they don't have status item or emergency items under 'create content'

[2017-01-26 20:44] reillyzlab commented on #214
All set on Hub

[2017-01-26 20:45] reillyzlab commented on #212
All set on Hub

[2017-01-26 20:45] reillyzlab commented on #216
All set on Hub

[2017-01-26 20:46] reillyzlab commented on #274
Passed

[2017-01-26 20:46] #274 closed

[2017-01-27 21:42] jduffy2001 opened #424 "Public testimony getting automatically pulled onto Digital Board"
It appears that the public testimony info is getting pulled over to the board on the first floor at City Hall even when the box isn't checked. The three events here all don't have the public testimony option checked:

![image](https://cloud.githubusercontent.com/assets/7929556/22388627/5fb89738-e4af-11e6-977a-58e5d15801fe.png)

Here are the corresponding notices:

https://www.boston.gov/public-not

[2017-01-30 13:27] asalsman commented on #391
Public Notices are currently staying around for 3hrs past start time, so I will make Events do the same.

[2017-01-30 17:42] jduffy2001 opened #426 "Add click to call feature for contact information"
By default, the phone numbers added to contact fields should be click to call on mobile devices. It would be great if any number we add to the website automatically becomes click to call.

Currrently looks like this on mobile devices:

![image](https://cloud.githubusercontent.com/assets/7929556/22434288/72327fb4-e6e9-11e6-9204-d5c02e82d368.png)

[2017-01-30 20:32] reillyzlab commented on #211
@hackajesse might be reflected above but can't 100% tell.

We also need to make sure that when any event repeats and you click on a version of the event that is not the first day (i.e. event is originally entered/starts on 1/30 but when you click on the calendar for 2/6 that the 2/6 day shows 2/6 as the date and not 1/30).

[2017-01-30 21:12] matthewcrist commented on #424
This is fixed. When the board restarts, it'll update.

[2017-01-30 21:12] #424 closed

[2017-01-31 14:02] matthewcrist opened #427 "Google analytics not triggering on sites"
Something happened and Google analytics aren't showing for either site.

[2017-01-31 17:43] hackajesse commented on #214
Looks good on Boston.gov staging.

[2017-01-31 17:55] hackajesse commented on #212
Looks good on Boston.gov staging.

[2017-01-31 18:03] hackajesse commented on #304
Looks good on staging.

[2017-01-31 18:09] hackajesse commented on #298
Looks good on staging.

[2017-01-31 18:11] hackajesse commented on #298
Closing.

[2017-01-31 18:11] #298 closed

[2017-01-31 18:11] hackajesse commented on #304
Closing.

[2017-01-31 18:11] #304 closed

[2017-01-31 18:11] hackajesse commented on #214
Closing.

[2017-01-31 18:11] #214 closed

[2017-01-31 18:12] hackajesse commented on #212
Closing.

[2017-01-31 18:12] #212 closed

[2017-01-31 18:13] hackajesse commented on #297
@matthewcrist the pick list doesn't show up on staging.

[2017-01-31 18:16] hackajesse commented on #297
Forgot about the checkbox on neighborhoods. Re-testing.

[2017-01-31 18:24] hackajesse commented on #303
Looks good. Closing.

[2017-01-31 18:24] #303 closed

[2017-01-31 19:56] hackajesse commented on #301
Coming back to this one - there's no view for upcoming_events - related posts

[2017-01-31 19:58] hackajesse commented on #216
Works for me. Closing.

[2017-01-31 19:58] #216 closed

[2017-01-31 20:03] hackajesse commented on #300
Looks good. Closing.

[2017-01-31 20:03] #300 closed

[2017-01-31 21:03] hackajesse commented on #296
Considering removing the "Contact" field from now. Contact / Department field on Basic Information cannot act as a related content field.

Otherwise, the story looks good. Keeping open for now to think on it.

[2017-01-31 21:05] hackajesse commented on #297
Looks good. Closing.

[2017-01-31 21:05] #297 closed

[2017-01-31 21:26] hackajesse commented on #302
Admin side is fine. Events component UI doesn't pull in events or public notices.

[2017-01-31 21:32] hackajesse commented on #299
Admin side is fine. Events component UI doesn't display events when using the Related Events view.

[2017-01-31 21:54] hackajesse commented on #395
@jimafisk let's talk about this with @matthewcrist next time you're in

[2017-01-31 22:15] asalsman commented on #299
@hackajesse I'm not following. Can you throw an example?

[2017-01-31 22:36] matthewcrist commented on #299
@asalsman related events aren't showing up on events pages or guides. Take a look st the trash and recycling guide

On Tue, Jan 31, 2017 at 5:15 PM Adam Salsman

<
mailto:Adam Salsman <notifications@github.com>

a, pre, code, a:link, body { word-wrap: break-word !important; }

https://github.com/hackajesse
I'm not following. Can you throw an example?

—

You are receiving this because you commente

[2017-02-01 15:31] reillyzlab commented on #262
@matthewcrist @jimafisk still only working if the user has the 'administrator' role.

[2017-02-01 15:52] matthewcrist commented on #262
@jimafisk can you take a look at this when you're back in?

[2017-02-01 15:52] jimafisk commented on #262
It looks like the hub_keyboard_shortcuts feature did not enable with hook_update_7014:
![hook_update_code](https://cloud.githubusercontent.com/assets/5913244/22514171/6fd9a6dc-e86c-11e6-8c24-d997228d040b.png)
![feature_not_enabled](https://cloud.githubusercontent.com/assets/5913244/22514072/2011de6c-e86c-11e6-8eb8-09d0c1f0e6e0.png)

Without that, the global permissions are still preventing anonymo

[2017-02-01 18:03] reillyzlab commented on #305
@matthewcrist @hackajesse

Two issues (described below and in seen in added image):

1. Adds a white line break
2. Puts 'TBD:' as the title (which gets auto added in via code and cannot be manually change). Should say 'Who's Involved'

![testing 305](https://cloud.githubusercontent.com/assets/20731897/22519589/d28b6f1a-e87e-11e6-9041-1bfd6e15625b.PNG)

See example on: https://hub.boston.gov/node/3

[2017-02-01 18:29] hackajesse commented on #299
Used the Related Guides view instead of Related Events (general) and this worked in the UI. Closing.

[2017-02-01 18:29] #299 closed

[2017-02-01 18:34] reillyzlab commented on #307
@matthewcrist

- Allowed to add internal items but the list shows in with red letters. Non blocking since you can use the feature, but I would imagine it will freak some content authors out.
![img_5840](https://cloud.githubusercontent.com/assets/20731897/22520484/71abe702-e882-11e6-8d48-2e18100d94e6.JPG)

Was only able to add content types as specified, but could not check some of the content type

[2017-02-01 18:43] reillyzlab commented on #295
@matthewcrist @hackajesse can't fully test functionality on Hub since don't have people profiles, but seems to have cosmetic updates.

[2017-02-01 18:43] reillyzlab commented on #287
Working

[2017-02-01 18:45] matthewcrist commented on #295
@reillyzlab can you create a new ticket for the red text and assign to @asalsman?

[2017-02-01 18:46] hackajesse commented on #301
Used Related Events view -  works like a charm. Closing.

[2017-02-01 18:46] #301 closed

[2017-02-01 18:47] hackajesse commented on #296
CMS editors will do double duty for now. All looks good. Closing.

[2017-02-01 18:47] #296 closed

[2017-02-01 18:47] reillyzlab commented on #311
@matthewcrist @hackajesse Appears to be working but can't fully test because don't have public notice

[2017-02-01 18:48] reillyzlab commented on #310
Working on Hub

[2017-02-01 18:49] reillyzlab commented on #293
Events portion is working on Hub but can't test public notice portion

[2017-02-01 18:50] reillyzlab commented on #292
Working

[2017-02-01 18:51] reillyzlab commented on #294
Cosmetically looks updated. Can't test functionality because Hub doesn't have 'places'

[2017-02-01 18:51] reillyzlab commented on #291
@hackajesse @matthewcrist can't test because doesn't exist on Hub

[2017-02-01 18:51] reillyzlab commented on #309
can't test because doesn't exist on Hub

[2017-02-01 18:51] asalsman commented on #307
@hackajesse: That red *may* be an weird bug with my error handling (was put in place before field data migration plan). I will take a look.

[2017-02-01 18:52] reillyzlab commented on #313
can't test because people profile doesn't exist on Hub

[2017-02-01 18:53] matthewcrist commented on #307
Let's track it separately, as it's not a major issue.

On Wed, Feb 1, 2017 at 1:51 PM, Adam Salsman <notifications@github.com>
wrote:

[2017-02-01 18:54] reillyzlab commented on #295
Will do

[image: COB_B_Blue_square-01.png]

Reilly Zlab

Employee Website <http://hub.boston.gov> Product Manager

Department of Innovation & Technology

City of Boston | City Hall Room 703

617-635-0057 (w) | reilly.zlab@boston.gov

On Wed, Feb 1, 2017 at 1:45 PM, Matthew Crist <notifications@github.com>
wrote:

[2017-02-01 18:55] reillyzlab commented on #289
Working.

Same red text issue as posts 'other related notice' - creating a separate ticket for red text appearing on both

[2017-02-01 18:55] reillyzlab commented on #288
Can't test this one b/c lack of functionality on Hub

[2017-02-01 18:56] reillyzlab commented on #306
Can't test this one b/c lack of functionality on Hub

[2017-02-01 18:56] reillyzlab commented on #308
Appears to be working for me

[2017-02-01 18:58] hackajesse commented on #306
Looks good on Boston.gov. Closing.

[2017-02-01 19:00] hackajesse commented on #306
Re-opening. Got something to check again.

[2017-02-01 19:30] asalsman opened #437 ""Posts" view for Upcoming Events mislabelled as "Events""
Post-launch bug, but the view for upcoming events "Posts" says "events" instead. Quick fix.

[2017-02-01 20:16] hackajesse commented on #306
On Posts, the neighborhood checkboxes appear in addition to the neighborhood auto-fill field. Check node 11561 @jimafisk @asalsman.

However, this is not a blocking issue. I will prob open a new ticket - @matthewcrist your call after chatting w/ @jimafisk.

[2017-02-01 20:17] matthewcrist commented on #306
If the related aspect is working, close this and open a new one for that bug.

On Wed, Feb 01, 2017 at 3:16 PM Jesse Biroscak

<
mailto:Jesse Biroscak <notifications@github.com>

a, pre, code, a:link, body { word-wrap: break-word !important; }

On Posts, the neighborhood checkboxes appear in addition to the neighborhood auto-fill field. Check node 11561
https://github.com/jimafisk https://github.c

[2017-02-01 20:46] hackajesse commented on #308
Works for me! Closing.

[2017-02-01 20:46] #308 closed

[2017-02-01 20:47] hackajesse commented on #312
Looks good. Closing.

[2017-02-01 20:47] #312 closed

[2017-02-01 20:51] hackajesse commented on #305
@asalsman I get the TBD on Boston.gov, too.
I don't get the line break, however.
Keeping this open for the moment.

[2017-02-01 20:53] hackajesse commented on #305
The related part of this ticket works well, though. Ref #436 for the hotfix. Closing. @reillyzlab will you add the line break ticket?

[2017-02-01 20:53] #305 closed

[2017-02-01 20:58] hackajesse commented on #307
I get the same red copy and outlining. @reillyzlab were you also creating this new issue? Otherwise, this looks good. Closing.

[2017-02-01 20:58] #307 closed

[2017-02-01 22:16] reillyzlab opened #438 "Drop down words on updated 'other related content' are red"
Background: All drop down words on the updated 'other related content' are red on posts, public notices, and events.

Goal: To match the coloring of the other drop downs, which are black

Acceptance Criteria:

- All of the red words are converted to black.
- We have ensured that the red words appearing not mean an error or bug of sorts.

[2017-02-01 22:44] reillyzlab opened #439 "Components should all have a short title field"
**Goal:** To support secondary navigation by ensuring that all components include a 'short title' field.

**Acceptance Criteria:**

- Secondary title field needs to be added to the following components:
  - [ ] Featured Guides
  - [ ] FYI
  - [ ] User Action
  - [ ] Hero Image
  - [ ] iFrame
  - [ ] News and Announcements
  - [ ] Upcoming Events

- The following helper text about short title shoul

[2017-02-01 22:45] reillyzlab commented on #396
This is the only 'short title' that is required across the site. Is there a reason this is required?

[2017-02-01 22:49] reillyzlab commented on #439
@matthewcrist @hackajesse @jduffy2001 Questions I still have:

1. @jduffy2001 can you advise on helper/descriptive text? (none of the short titles have and probably should)
2. Should this be on every component? (I don't see why not but happy to talk it through)
3. Should this be required? I lean towards no, but see that it is for grid of cards [new] and am wondering why?

[2017-02-01 22:52] reillyzlab opened #440 "Hide 'public notice' content type from Hub"
Please remove public notice content type from Hub, because there is not a use case for the Hub and don't want to:

1. Confuse content contributors

2. Cause issues with related content/required fields and inability to save on Hub

[2017-02-01 23:06] reillyzlab opened #441 "Related content - add department next to gray background causes white line break"
When adding a 'related department' next to a gray background a white line break gets added in between the rest of the content and the 'related department.

The gray should be seamless and there should not be a white line.

See screenshot below (ignore TBD).

[2017-02-01 23:07] reillyzlab commented on #441
@hackajesse you mentioned you didn't think this happened on boston.gov, but can you confirm this for sure?

[2017-02-01 23:08] reillyzlab commented on #441
![img_5840](https://cloud.githubusercontent.com/assets/20731897/22530415/610fb500-e8a9-11e6-8c4a-c477ecc1788e.JPG)

[2017-02-01 23:08] reillyzlab commented on #441
![testing 305](https://cloud.githubusercontent.com/assets/20731897/22530425/6c4bde62-e8a9-11e6-90ef-e91a888224d2.PNG)

[2017-02-01 23:08] reillyzlab commented on #438
![testing 305](https://cloud.githubusercontent.com/assets/20731897/22530437/7c1ebf1c-e8a9-11e6-8f1c-8283e6bfac12.PNG)

[2017-02-01 23:09] reillyzlab commented on #438
![img_5840](https://cloud.githubusercontent.com/assets/20731897/22530442/822c5fe0-e8a9-11e6-8306-58cf7c243d79.JPG)

[2017-02-02 01:37] hackajesse commented on #310
Works on Boston.gov. Closing.

[2017-02-02 01:37] #310 closed

[2017-02-02 01:40] hackajesse commented on #311
Works on boston.gov. Closing.

[2017-02-02 01:40] #311 closed

[2017-02-02 01:44] hackajesse commented on #309
Looks good on Boston.gov. Closing.

[2017-02-02 01:44] #309 closed

[2017-02-02 01:46] hackajesse commented on #313
Looks good on Boston.gov. Closing.

[2017-02-02 01:46] #313 closed

[2017-02-02 01:51] hackajesse commented on #302
Still having difficulty with this one. Will check in w/ @asalsman tomorrow.

[2017-02-02 01:57] hackajesse commented on #287
Works on Boston.gov. Closing.

[2017-02-02 01:57] #287 closed

[2017-02-02 02:05] hackajesse commented on #295
Looks good on Boston.gov. Closing.

[2017-02-02 02:05] #295 closed

[2017-02-02 02:07] hackajesse commented on #292
Looks good on Boston.gov. Closing.

[2017-02-02 02:07] #292 closed

[2017-02-02 02:10] hackajesse commented on #294
Places (BCYF Charlestown) look good. Couldn't get neighborhoods to work. Separate ticket, though. Closing this issue.

[2017-02-02 02:10] #294 closed

[2017-02-02 02:11] hackajesse commented on #291
Works well on Boston.gov. Closing.

[2017-02-02 02:11] #291 closed

[2017-02-02 02:13] hackajesse commented on #289
Works well. Closing.

[2017-02-02 02:13] #289 closed

[2017-02-02 02:14] hackajesse commented on #290
Looks good. Closing.

[2017-02-02 02:14] #290 closed

[2017-02-02 02:16] hackajesse commented on #288
@jimafisk @asalsman I tested this and it didn't work. That may be expected, but the issue is in Acceptance QA. Should it be?
cc @matthewcrist

[2017-02-02 02:18] hackajesse commented on #293
Both public notices and events work well. Closing.

[2017-02-02 02:18] #293 closed

[2017-02-02 02:26] hackajesse commented on #334
Not sure this ticket is done @asalsman. Let's talk tomorrow. Lots of progress, but not quite ready for prime time, me thinks. Moving to In Progress.
cc @matthewcrist

[2017-02-02 02:29] matthewcrist commented on #440
We shouldn't remove it, but rather just change the permissions for content creators to not see it. Removing causes extra complexities that we don't need.

[2017-02-02 02:55] asalsman commented on #334
@hackajesse: At the moment, this is a "feature," not a bug. There are display repercussions related to moving the Neighborhoods field to being a subset of the places field. These repercussions involve both the rendering of a public notice, and potential calendar/public notice front display problems.

@jimafisk and I discussed for a bit and then raised with @matthewcrist. Consensus was to leave Pub

[2017-02-02 14:57] hackajesse opened #442 "Related content "Neighborhoods" field and checkboxes appear in Posts"
Only the checkboxes for neighborhoods should appear, not the neighborhoods field. The screenshot below shows that both are present. Ref  #306 and #392

Example node on staging: 11561

![neighborhoods-posts](https://cloud.githubusercontent.com/assets/3886936/22554356/bf01757a-e92d-11e6-9f09-294f5900847f.PNG)

[2017-02-02 15:04] asalsman commented on #442
Addressed in PR #414

[2017-02-02 15:04] asalsman commented on #438
Addressed in PR #414

[2017-02-02 15:15] hackajesse commented on #302
Looks good. Closing.

[2017-02-02 15:15] #302 closed

[2017-02-02 15:16] hackajesse commented on #306
Created separate issue for the bug. Closing. Ref #414

[2017-02-02 15:16] #306 closed

[2017-02-02 15:20] hackajesse commented on #201
It's been a long run, Epic. I'm closing you down since everything is checking out nicely.

[2017-02-02 15:20] #201 closed

[2017-02-02 15:21] hackajesse commented on #286
It's been a long run, Epic. I'm closing you down since everything is checking out nicely.

[2017-02-02 15:21] #286 closed

[2017-02-02 15:21] hackajesse commented on #285
It's been a long run, Epic. I'm closing you down since everything is checking out nicely.

[2017-02-02 15:21] #285 closed

[2017-02-02 19:56] reillyzlab commented on #439
Should think through better title in general

[2017-02-02 21:21] hackajesse opened #444 "Replace Boston.gov Feedback modal email address"
Currently goes to Feedback@Boston.gov
Should go to 311@Boston.gov since most of our inquiries at this point are 311-related issues. 311 will triage inbound emails.

[2017-02-03 13:23] asalsman commented on #334
@hackajesse Everything for this, as far as I can tell, is done. If there's anything else I need to do, holler.

[2017-02-03 13:46] jduffy2001 opened #445 "WYSIWYG fields missing from content types"
The WYSIWYG fields are missing under "Basic information" for these content types:

- Dept. profiles
- Articles
- Guides
- How-tos
- Person profiles
- Place profiles

Also, if you add a text component to one of these, the text component is missing the WYSIWYG field. Based on the work done this week, I assume it's all content types that aren't public notices, events, or posts.

![how-to](https://clo

[2017-02-03 14:30] asalsman opened #447 "Site build JS Lint issues"
A number of small, largely innocuous errors are through by the build scripts when linting JS for Public Site and Hub. They are all easy fixes.

Public:
     [exec] [08:43:17] Starting 'lint:js'...
     [exec] docroot/sites/all/themes/custom/boston/src/js/columns.js: line 8, col 34, The array literal notation [] is preferable. (W009)
     [exec] docroot/sites/all/themes/custom/boston/src/js/columns

[2017-02-03 14:41] hackajesse commented on #266
Sent comp request to Sebastian. Expected Wednesday 2/8.

[2017-02-03 14:51] matthewcrist commented on #14
Increasing the estimate on this we dig into it.

[2017-02-03 14:59] #427 closed

[2017-02-03 15:06] jduffy2001 opened #449 "Icons for Love Your Block"
I would need icons that fit under these titles:

"Love Your Block mini-grants"

"Love Your Block neighborhood cleanups"

[2017-02-03 15:07] #449 closed

[2017-02-03 16:17] sebastianebarb commented on #449
https://drive.google.com/open?id=0B0RwQU94BhGecml2QTl3ZzdIM2s

https://drive.google.com/open?id=0B0RwQU94BhGeTWxWWGhOakdkVnM

On Fri, Feb 3, 2017 at 10:07 AM, James Duffy <notifications@github.com>
wrote:

--

Sebastian Ebarb

Head Designer for the City of Boston

Department of Innovation & Technology

617.635.2249 (w)

[2017-02-03 21:09] #447 closed

[2017-02-03 21:09] #445 closed

[2017-02-03 21:09] matthewcrist commented on #444
@hackajesse this is done.

[2017-02-03 21:09] #444 closed

[2017-02-03 21:28] matthewcrist commented on #395
Do we still want this? For now, @jimafisk should probably back out the change and we move this to the backlog.

[2017-02-03 21:33] #395 closed

[2017-02-03 21:33] matthewcrist commented on #395
Talked to @hackajesse. We're just closing this.

[2017-02-06 16:11] reillyzlab opened #457 "Calendar thumbnail image icon not appearing on events"
Calendar thumbnail image not appearing when no thumbnail image is used in an event on the Hub.

James reports not seeing this issue on boston.gov.

Please ensure the attached file shows up on thumbnail for events when no thumbnail entered.

[2017-02-06 16:26] reillyzlab commented on #457
@sebastianebarb is providing icon to input.

[2017-02-06 16:29] reillyzlab commented on #457
New icon to use:
![experiential icons 3_calendar_aqua](https://cloud.githubusercontent.com/assets/20731897/22655870/88af610a-ec5f-11e6-8509-d216ea0ef912.png)

[2017-02-06 16:31] reillyzlab opened #458 "TBD: appears as title for 'related depts.' on posts"
TBD: appearing as the title of 'related departments' on posts on boston Hub and boston.gov.

Believe this is hard coded and needs to be changed by developer.

TBD: should read the following instead: Who's Involved:

See here: https://www.boston.gov/news/mayor-walsh-announces-2017-love-your-block-initiative

[2017-02-06 16:31] reillyzlab commented on #458
![tbd on posts](https://cloud.githubusercontent.com/assets/20731897/22655948/c7bbf1ec-ec5f-11e6-8f83-03f807f6b949.PNG)

[2017-02-06 17:01] reillyzlab opened #459 "Add help text to 'event' zip code (to match public notice)"
Add help text to **'event'** zip code to match help text on public notice.

Match public notice verbatim 'City Hall is 02201':

![zip code help text](https://cloud.githubusercontent.com/assets/20731897/22657345/275983b8-ec64-11e6-8541-d3fe59f77fe4.PNG)

Metrics for Success: All zip codes for city hall are accurate.

[2017-02-06 19:40] reillyzlab commented on #441
Think this is happening because the 'related content' fields on the Hub are background color #ececec and all other gray backgrounds on Hub are #f3f3f3

All background grays on boston.gov are #f3f3f3

[2017-02-07 02:02] hackajesse commented on #396
Revision - confirming short title not required.

[2017-02-07 02:15] hackajesse opened #461 "Breadcrumbs should look like links"
## User story

Breadcrumbs are a way for people to figure out where they are in relation to the rest of the content on the website. However, our breadcrumbs don't look like the rest of the links on the site (aka they're not blue). We should be consistent with how we designate a hyperlink so people can know what is clickable and what isn't. See the comp below for how breadcrumbs should appear.

##

[2017-02-07 02:54] hackajesse opened #462 "Connect Swiftype to Google Analytics"
Instructions:

[https://swiftype.com/documentation/tutorials/ga](https://swiftype.com/documentation/tutorials/ga)

[2017-02-07 14:18] hackajesse commented on #440
@matthewcrist Public notices don't show up on Boston.gov staging anymore... moving this back to In Progress.

[2017-02-07 14:25] hackajesse commented on #438
Looks good on Boston.gov.

[2017-02-07 14:29] hackajesse commented on #442
Not quite right. Neighborhoods as a related content field now appears above the sidebar tabs (per the screenshot below) when creating a post. It shouldn't be present at all. Moving back to In Progress.

![post-neighborhoods-related-content](https://cloud.githubusercontent.com/assets/3886936/22695126/a3cd561e-ed17-11e6-94b2-80e56f2bc26e.PNG)

[2017-02-07 14:35] hackajesse commented on #183
This looks good on Boston.gov.

However, realized that if someone doesn't use the dollar $ign, the number shows up as entered. Aka if you type 9,000 instead of $9,000, you get 9,000. We should think about adding a $ and commas automatically if someone enters a number. Didn't specify that in the spec, so will create a new issue pending chat w/ @reillyzlab when she reviews.

[2017-02-07 14:39] hackajesse commented on #437
@matthewcrist I don't see this on staging. Looked at the views on an upcoming events component and still see two views labeled "upcoming_events - Events". Moving back to In Progress.

[2017-02-07 21:02] reillyzlab commented on #461
Or aqua for Hub where optimistic blue is mentioned above.

[2017-02-07 21:07] reillyzlab commented on #461
@hackajesse Is there a reason we're adding an underline on hover state to these links when none of our other links get underlines on hover state (if we're trying to be consistent with what links/hover state look like)?

[2017-02-08 23:52] reillyzlab opened #464 "Public notices screen: canceled throws in 'undefined' text"
On the public notices screen on the first floor of City Hall, when an event is cancelled the screen shows the words 'undefinedcanceled'. The screen should only show 'canceled'.

Doesn't appear to be an issues on boston.gov website

[2017-02-08 23:53] reillyzlab commented on #464
![image uploaded from ios](https://cloud.githubusercontent.com/assets/20731897/22762926/ec95cb2e-ee2f-11e6-85a8-b2336f1d83e6.jpg)

[2017-02-09 05:01] reillyzlab commented on #438
All set on Hub too. Closing.

[2017-02-09 05:01] #438 closed

[2017-02-09 05:12] reillyzlab commented on #360
On Hub, even if event is featured it still shows up in the four items below (i.e. doesn't disappear and move an event up into component as it gets featured). So, you see event twice in same component.

Will confirm tomorrow whether the disappear portion works.

[2017-02-09 13:14] thom8 opened #465 "Is this test data?"
https://github.com/CityOfBoston/boston.gov/tree/develop/docroot/sites/all/modules/custom/hub_migration/data

[2017-02-09 14:50] matthewcrist commented on #465
Yes, this is test data that we use to test our user migration scripts.

[2017-02-09 14:50] #465 closed

[2017-02-09 14:50] reillyzlab commented on #426
All set on the Hub.

[2017-02-09 14:51] matthewcrist commented on #464
@reillyzlab can you move this to the @CityOfBoston/notice-signage repo?

[2017-02-09 14:51] #464 closed

[2017-02-09 14:53] reillyzlab commented on #464
Yep - on it

[2017-02-09 14:54] hackajesse commented on #215
Works on staging. Closing.

[2017-02-09 14:54] #215 closed

[2017-02-09 14:59] hackajesse commented on #426
Works on Boston.gov. Closing.

[2017-02-09 14:59] #426 closed

[2017-02-09 15:05] hackajesse commented on #361
This works, but there may be a bug. Hondo is investigating before we move forward.

[2017-02-09 15:10] hackajesse commented on #458
This may be a dupe of #436 . @matthewcrist ? If so, label duplicate and close please.

[2017-02-09 15:18] hackajesse commented on #162
Couldn't figure this out in SiteImprove. Sent them a request for help.

[2017-02-09 16:06] reillyzlab commented on #275
Tried this alongside content author and content editor and as stand along and user with role still couldn't edit emergency items.

[2017-02-09 18:30] hackajesse commented on #162
SiteImprove responded and created a policy for us to see which pages have ```target="blank"``` on them.

Log in to SiteImprove >> (top left) Policy >> (left rail) Policies >> HTML Match

Question remains, @matthewcrist, whether @jduffy2001 should be going through these individually or if there's a programmatic solution.

[2017-02-09 19:25] reillyzlab commented on #183
Passes on Hub.

Agreed - we need to create a separate ticket that would include value validation.

[2017-02-09 19:26] #183 closed

[2017-02-09 19:37] hackajesse opened #467 "Event cost field needs validation"
Per #183

##User story

It's great that when an event creator enters an event price into the Cost field on the Event content type, the numbers display. If they don't enter anything, the price defaults to "Free". However, if the event creator doesn't use ```$```, the number shows up as entered. Aka if you type 9,000 instead of $9,000, you get 9,000.

##Acceptance criteria

 - [ ] If an event creato

[2017-02-09 19:46] hackajesse commented on #361
Looks good - @matthewcrist spent some time investigating and decided whatever's happening isn't clear enough to postpone the build. Moving forward and closing this issue.

[2017-02-09 19:46] #361 closed

[2017-02-09 19:52] hackajesse opened #468 "Live stream checkbox only appears on Video component"
It appears on Public Notice content type.

Do #214 for Public Notices.

[2017-02-09 20:26] hackajesse opened #469 "Change location of contact information"
Per #266

##User story
Website visitors often find themselves on their phones visiting an article page or a department page. They see a little description of the page and then they see contact information. They call the phone number and ask a question, the answer to which they would have found just 100px below where they were on the webpage. They should see the critical information before they see

[2017-02-09 21:51] thom8 commented on #465
What did you used to generate it? It's very impressive for test data.

[2017-02-09 22:01] matthewcrist commented on #465
We run sanitize our production data when it gets pulled down from production. This is a small portion of that entire feed.

[2017-02-09 22:07] matthewcrist commented on #467
We don't currently have any support for field validation in the Drupal admin. This would require us to add it, and then we'd need to regression test all fields. This seems like an overly complex solution to a minor problem. Maybe editing the help text would be helpful and cheaper?

[2017-02-09 22:09] matthewcrist commented on #439
Since this involves all components, there will be a lot of regression testing needed.

[2017-02-09 23:29] reillyzlab commented on #34
Specifications that we've decided on:

**Goal:** To maintain a good user experience for 'anonymous' users of boston.gov or the Hub when they choose to print any page of the website.

**Acceptance Criteria:**

- Create a print style sheet, which will load when a user prompts the print function on any Web browser.

- The style sheet should print exactly what's on the page with the following exceptio

[2017-02-10 00:52] reillyzlab opened #470 "Create Global FYI"
**Goal:** To communicate a global message to 'anonymous' users in an efficient manner.

**Acceptance Criteria:**

- Create a 'FYI' piece of content that can be quickly added to all Web pages.
- Only allow users with an administrator role or greater to be able to 'enable' this content.
- A content type would be created to accommodate the following:
  - A content type would be created that when it w

[2017-02-10 00:54] reillyzlab commented on #470
@matthewcrist @jduffy2001 @hackajesse can you review to see if everything is covered?

[2017-02-10 03:39] reillyzlab opened #471 "Add ability to schedule content to emergency alert"
**Goal:**  To support content contributors to communicate messages in more efficient ways.

**Acceptance Criteria:** Site administrators and greater roles can schedule the emergency alert by date and time. (Re-use the workbench scheduler if that's possible, but not sure if it is for this scenario.)

At the very least, scheduling by half hour would be great. Scheduling by 15 minutes would be ideal.

[2017-02-10 14:00] hackajesse commented on #34
@reillyzlab:
We should clarify what "superfluous" / "relevant" images and icons are more specifically. Perhaps remove all icons completely? Images that are contained in intro / body fields or part of specific components (which ones?).
The feedback modal gets converted to text automatically, so that should be removed and replaced w/the copy you specified.

[2017-02-10 14:03] matthewcrist commented on #440
@hackajesse they're there for me.

[2017-02-10 14:03] matthewcrist commented on #396
Moving to the backlog for now.

[2017-02-10 14:10] #458 closed

[2017-02-10 17:52] hackajesse commented on #440
Weird @matthewcrist - they're there for me now. All good then. Closing.

[2017-02-10 17:52] #440 closed

[2017-02-10 19:19] reillyzlab opened #473 "Fix hover state on emergency alert (red version)"
Hover state on call to action on red version of emergency alert is is red, so when a user hovers on the CTA the hover is red on a red background.

View here:

This should be changed to: When a user hovers over the call to action, the button background color becomes dark blue and and type turns to white.

[2017-02-10 19:22] matthewcrist opened #474 "Emergency alerts are cached too agressively"

[2017-02-10 19:42] matthewcrist commented on #474
Changed cache time from 7 days to 2 minutes in PR #472

[2017-02-14 15:52] shanaberry13 opened #476 ""Neighborhood" Filter Columns Bug"
the "Neighborhood" filter columns are not in alphabetical order.

![image](https://cloud.githubusercontent.com/assets/25773519/22936470/9cd20788-f2a3-11e6-88aa-57c89e194a82.png)

[2017-02-14 23:31] reillyzlab opened #478 "Allow icon in top of hamburger menu to be clickable"
**Goal:** To increase streamlined navigation throughout the site(s).

**Acceptance Criteria:**

- When the hamburger menu is open, make the icon at the top of the header clickable.
- When the icon is clicked it should take users to the site homepage.
- Add hover text to the icon that says 'Go to homepage'.

**Success Metrics:**

- The link in the menu works.
- Constituents happy that we added this

[2017-02-15 14:46] matthewcrist commented on #462
This data is appearing in GA now.

[2017-02-15 20:17] #150 closed

[2017-02-16 04:36] hackajesse opened #480 "Public Notice Post/Publish Date"
**Goal:** To ensure that public notices are being filled out and displaying accurately.

**Acceptance Criteria:**

- Posted date field on administrative view should only be exposed to site administrator and greater roles.
-
The "posted" date that shows on boston.gov should be the date when the notice is published - not the date that first draft was saved [current state].

-
The "posted date" on th

[2017-02-16 04:41] reillyzlab commented on #462
@matthewcrist where is this showing? I'm not seeing anything in site search.

[2017-02-16 04:44] #7 closed

[2017-02-16 04:48] #14 closed

[2017-02-16 04:59] reillyzlab commented on #322
Program/initiative page, secondary navigation doesn't show up accurately as user scrolls down page. See here:

![screen shot 2017-02-15 at 11 51 21 pm](https://cloud.githubusercontent.com/assets/20731897/23008033/a8be2f08-f3da-11e6-8d57-dc03b1acd879.png)

![screen shot 2017-02-15 at 11 51 30 pm](https://cloud.githubusercontent.com/assets/20731897/23008036/b3c1ec64-f3da-11e6-98b7-7392f9d24f97.png)

[2017-02-16 05:04] #288 closed

[2017-02-16 05:05] #334 closed

[2017-02-16 05:07] #284 closed

[2017-02-16 05:11] reillyzlab commented on #388
Role appears on staging, but holding off on passing until I can test with a user on production.

[2017-02-16 05:12] reillyzlab commented on #389
Role appears on staging, but holding off on passing until I can test with a user on production. Fine to move to production.

[2017-02-16 05:36] reillyzlab commented on #94
Still not fixed for 'document' under downloads.

[2017-02-16 05:40] #362 closed

[2017-02-16 05:46] #255 closed

[2017-02-16 05:47] #391 closed

[2017-02-16 19:26] reillyzlab commented on #476
Happens on this page: https://www.boston.gov/metrolist/affordable-properties

[2017-02-16 19:32] #474 closed

[2017-02-16 19:33] matthewcrist commented on #322
This is a logged in header issue.

[2017-02-16 19:33] #322 closed

[2017-02-16 19:36] matthewcrist commented on #462
https://analytics.google.com/analytics/web/#report/content-pages/a2187282w108307691p112911200/%3Fexplorer-table.filter%3Dquery%26explorer-table.plotKeys%3D%5B%5D/

[2017-02-16 20:18] hackajesse opened #481 "Fix break points on new tab design on how to and tabbed content"
**Goal:** To ensure that new tab design looks visually appearing on any device.

**Acceptance Criteria:** The tab design is adjusted to appear as it's supposed to at all breakpoints. Right now, it breaks when you split screen on macbook 15". (Don't know which break point that is.

See any how to or tabbed page, but quick reference page: /departments/parking-clerk/how-pay-parking-ticket

[2017-02-17 14:42] matthewcrist commented on #480
## Primary testing steps

 * Log in as user that is not admin
 * Create public notice
 * Publish public notice
 * Wait a few minutes
 * **Verify that Posted Date matches publish time**
 * Unpublish public notice
 * Wait a few minutes
 * Republish public notice
 * **Verify that Posted Date matches original publish time**
 * Go to moderation tab of public notice
 * **Verify that each step is logged*